
@{
    ViewBag.Title = "GetList";
    var data = ViewBag.danhSachBaiViet as List<ToolsApp.EntityFramework.BaiViet>;
    var ketCaus = ViewBag.ketCaus as List<ToolsApp.EntityFramework.KetCau>;
    var tinhTrangs = ViewBag.tinhTrang as List<ToolsApp.EntityFramework.Config>;
    var tyGia = ViewBag.tyGia as List<ToolsApp.EntityFramework.Config>;
    var nhomBaiViet = ViewBag.nhomBaiViet as List<ToolsApp.EntityFramework.NhomBaiViet>;
    var idNhomBaiViet = ViewData["id"] != null ? ViewData["id"] : "null";
    var page = ViewBag.page != null ? ViewBag.page : 1;
    var totalPages = ViewBag.totalPages != null ? ViewBag.totalPages : 1;
    var pageWindow = 2;
}
<style>
    hr {
        margin:0;
    }
    span {
        padding: 0 2px
    }
    .editable {
        cursor: pointer;
        position: relative;
    }
    .editable:hover {
            color: #007bff;

    }
    .editable:hover::after {
            display: block;
        }
    .btn-custom {
        padding:3px !important;
        margin-top:4px;
        margin-left:4px
    }
    .quickEditGetList {
        width:50px;
        border-radius:4px;
        border: none;
    }
        .quickEditGetList:focus {
            outline: 1px solid #007bff;
        }
        .quickSelect {
            border: 1px solid #ccc;
            width: 80%;
            background: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(20%, #fff), color-stop(50%, #f6f6f6), color-stop(52%, #eee), color-stop(100%, #f4f4f4));
        }
    .quickTextarea {
        width: 100%;
        word-wrap: break-word;
        white-space: pre-wrap;
    }
        .w-100 {
           width:100%;
        }
        .w-80 {
            width:80%;
        }
    .func-menu a {
        font-size:6px !important
    }
    .func-menu i {
        font-size:6px !important
    }
    .page-link {
        cursor:pointer;
    }
    .displayValue {
        word-wrap: break-word;
    }
</style>
<input id="idNhomBaiViet" value="@idNhomBaiViet" name="idNhomBaiViet" class="displayN" />


<table id="myTable" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th style="width:30px">Mã</th>
            <th>
                Ghi chú
            </th>
            <th>Khách hàng</th>
            <th>Tình trạng</th>
            <th>Địa chỉ</th>
            <th style="width:200px">Giá bán</th>
            <th style="width:350px">Thông tin nhà</th>
            <th>Công cụ</th>
        </tr>
    </thead>
    <tbody>
        @{
            if (data != null)
            {
                foreach (var item in data)
                {

                    <tr>
                        <td>
                            @item.id
                        </td>

                        <td>
                            <div class="d-flex flex-column">
                                <div>

                                    @if (item.trangThaiGoiDien == true)
                                    {

                                        <span class="bg-danger text-white font-weight-bold rounded">Đã gọi</span>
                                        <br />

                                        <i>Lúc: @item.thoiGianGoiDien</i>
                                        <div class="editable" data-id="@item.id">
                                            <span class="font-weight-bold">Ghi chú:</span>
                                            <i class="displayValue"> @item.note</i>
                                            <input type="text" name="note" value="@item.note" class="quickEditGetList displayN w-100" />
                                        </div>
                                    }

                                    else
                                    {

                                        <div class="call-container">
                                            <button class="call-button btn btn-success text-white font-weight-bold">Gọi</button>
                                            <div class="call-confirm mt-2 displayN">
                                                <i class="mt-2">Nhập ghi chú:</i>
                                                <textarea id="note-@item.id" rows="1" cols="10" name="note" data-id="@item.id" class="form-control"></textarea>
                                                <button onclick="saveNote(@item.id)" class="btn btn-success p-1 mt-1 float-right">Lưu</button>
                                            </div>
                                        </div>
                                    }
                                </div>



                            </div>

                        </td>
                        <td>
                            <div class="d-flex flex-column">
                                <div class="editable" data-id="@item.id">
                                    <i class="fas fa-user"></i>
                                    <span class="displayValue"> @(string.IsNullOrWhiteSpace(item.tenKh) ? "-" : item.tenKh)</span>
                                    <input type="text" name="tenKh" value="@item.tenKh" class="quickEditGetList displayN w-80" />
                                </div>
                                <div class="editable" data-id="@item.id">
                                    <i class="fas fa-phone"></i>
                                    <span class="displayValue"> @(string.IsNullOrWhiteSpace(item.sdtKh) ? "" : item.sdtKh)</span>
                                    <input type="number" name="sdtKh" value="@item.sdtKh" class="quickEditGetList displayN w-80" />
                                </div>
                                <div class="editable" data-id="@item.id">
                                    <i class="fas fa-mail-bulk"></i>
                                    <span class="displayValue"> @(string.IsNullOrWhiteSpace(item.emailKh) ? "-" : item.emailKh)</span>
                                    <input type="email" name="emailKh" value="@item.emailKh" class="quickEditGetList displayN w-80" />
                                </div>
                            </div>

                        </td>
                        <td>
                            <div class="editable d-inline" data-id="@item.id">
                                <span class="text-white font-weight-bold rounded displayValue p-1" style="background-color:@(tinhTrangs.FirstOrDefault(t => t.Id == item.tinhTrang)?.moTaChiTiet ?? "#6c757d"); font-size:12px">   @(tinhTrangs.FirstOrDefault(t => t.Id == item.tinhTrang)?.MoTa ?? "Chưa cập nhật")</span>
                                <select class=" chosen-select quickEditGetList displayN quickSelect" name="tinhTrang" aria-label=".form-select-md">
                                    @foreach (var item1 in tinhTrangs)
                                    {
                                        <option value="@item1.Id" @(item.tinhTrang == item1.Id ? "selected" : "")>@item1.MoTa</option>
                                    }
                                </select>
                            </div>

                        </td>
                        <td>
                            <div class="editable" data-id="@item.id">
                                <span class="displayValue"> @(string.IsNullOrWhiteSpace(item.diaChiTaiSan) ? "Địa chỉ" : item.diaChiTaiSan)</span>
                                <input type="text" id="diaChiTaiSan" name="diaChiTaiSan" placeholder="Nhập số nhà và tên đường" value="@item.diaChiTaiSan" class="quickEditGetList displayN w-100" />
                            </div>
                            <hr />
                            <div class="editable" data-id="@item.id">
                                <span class="displayValue"> @(string.IsNullOrWhiteSpace(item.moTaViTri) ? "Mô tả vị trí" : item.moTaViTri)</span>
                                <textarea id="moTaViTri" rows="1" cols="10" name="moTaViTri" class="quickEditGetList displayN w-100">@(item.moTaViTri ?? "Nhập mô tả vị trí")</textarea>
                            </div>
                        </td>
                        <td>
                            <div class="">
                                <div class="editable" data-id="@item.id">
                                    @{
                                        var idTyGia = nhomBaiViet.FirstOrDefault(a => a.id == item.idNhomBaiViet).idTyGia;
                                        var donvi = tyGia.FirstOrDefault(a => a.Id == idTyGia).MoTa;
                                    }

                                    <span class="displayValue text-success font-weight-bold">@item.giaBan </span>
                                    <input type="text" min=0.01 step=0.01 onkeypress="return event.charCode != 45" id="giaBan" name="giaBan" value="@item.giaBan" class="quickEditGetList displayN" />

                                    <span class="text-success font-weight-bold">@donvi</span>

                                </div>

                              </div>
                            <hr />
                            <div class="editable" data-id="@item.id">
                                <i class="displayValue">@(string.IsNullOrWhiteSpace(item.moTaGia) ? "Mô tả giá" : item.moTaGia)</i>
                                <input type="text" name="moTaGia" value="@item.moTaGia" placeholder="Nhập mô tả" class="quickEditGetList displayN w-100" />
                            </div>

                        </td>
                        <td>
                            <div class="d-flex flex-column">
                                <div class="d-flex justify-content-around">
                                    <div class="editable" data-id="@item.id">
                                        <i class="fa-solid fa-arrows-left-right"></i>
                                        <span class="displayValue">@item.chieuNgang</span>
                                        <input type="text" min=0.01 step=0.01 onkeypress="return event.charCode != 45" id="chieuNgang" name="chieuNgang" value="@item.chieuNgang" class="quickEditGetList displayN" />
                                        <span>m</span>

                                    </div>
                                    <div class="editable" data-id="@item.id">
                                        <i class="fa-solid fa-arrows-up-down"></i>
                                        <span class="displayValue">@item.chieuDai</span>
                                        <input type="number" min=0.01 step=0.01 onkeypress="return event.charCode != 45" id="chieuDai" name="chieuDai" value="@item.chieuDai" class="quickEditGetList displayN" />
                                        <span>m</span>

                                    </div>
                                    <div class="">
                                        <div class="editable d-inline" data-id="@item.id">
                                            <i class="fa-solid fa-compass"></i>
                                            <span class="displayValue"> @item.huong</span>
                                            <select class=" chosen-select quickEditGetList displayN quickSelect" id="huong" name="huong" aria-label=".form-select-md">
                                                <option value="Bắc">Bắc</option>
                                                <option value="Đông Bắc">Đông Bắc</option>
                                                <option value="Đông">Đông</option>
                                                <option value="Đông Nam">Đông Nam</option>
                                                <option value="Nam">Nam</option>
                                                <option value="Tây Nam">Tây Nam</option>
                                                <option value="Tây">Tây</option>
                                                <option value="Tây Bắc">Tây Bắc</option>
                                            </select>
                                        </div>

                                    </div>
                                    <div class="">

                                        @if (item.KetCau != null)
                                        {

                                            <div class="editable" data-id="@item.id">
                                                <i class="fa-solid fa-city"></i>
                                                <span class="displayValue"> @item.KetCau.tenKetCau</span>
                                                <select class="chosen-select quickEditGetList displayN quickSelect" id="idKetCau" name="idKetCau" aria-label=".form-select-md">
                                                    @foreach (var kc in ketCaus)
                                                    {
                                                        <option value="@kc.id">@kc.tenKetCau</option>
                                                    }

                                                    }
                                                </select>
                                            </div>

                                        }
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center flex-wrap">
                                    <span class="editable" data-id="@item.id">
                                        <i class="fa-solid fa-building"></i>
                                        <span>Mô tả</span> -
                                        <i class="displayValue">@item.motaKetCau</i>
                                        <textarea name="motaKetCau" class="quickEditGetList form-control quickTextarea displayN">@item.motaKetCau</textarea>
                                    </span>
                                    <span class="editable" data-id="@item.id">
                                        <i class="fa-solid fa-industry"></i>
                                        <span>Số phòng</span>
                                        <i class="displayValue">@item.soPhong</i>
                                        <input type="number" id="soPhong" min=1 step=1 onkeypress="return event.charCode != 45" name="soPhong" value="@item.soPhong" class="quickEditGetList displayN" />
                                    </span>
                                </div>
                                <div class="d-flex justify-content-around mt-1">
                                    <div class="editable" data-id="@item.id">
                                        <span>DT đất:</span>
                                        <i class="font-weight-bold displayValue">
                                            @item.dienTichDat
                                        </i>
                                        <input type="number" id="dienTichDat" min=0.01 step=0.01 onkeypress="return event.charCode != 45" name="dienTichDat" value="@item.dienTichDat" class="quickEditGetList displayN" /> m<sup>2</sup>

                                    </div>
                                    <div class="editable" data-id="@item.id">
                                        <span>DT sử dụng:</span>
                                        <i class="font-weight-bold displayValue">
                                            @item.dienTichSuDung
                                        </i>
                                        <input type="number" min=0.01 step=0.01 onkeypress="return event.charCode != 45" id="dienTichSuDung" name="dienTichSuDung" value="@item.dienTichSuDung" class="quickEditGetList displayN" /> m<sup>2</sup>
                                    </div>
                                    <div class="editable" data-id="@item.id">
                                        <span>DT xây dựng:</span>
                                        <i class="font-weight-bold displayValue">
                                            @item.dienTichXayDung
                                        </i>
                                        <input type="number" min=0.01 step=0.01 onkeypress="return event.charCode != 45" id="dienTichXayDung" name="dienTichXayDung" value="@item.dienTichXayDung" class="quickEditGetList displayN" /> m<sup>2</sup>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="text-center d-flex flex-wrap">
                                <a onclick="Share('@item.id')" class="btn btn-custom text-white btn-info">
                                    <i class="fas fa-share"></i> Share
                                </a>
                                <a onclick="ShowImages('@item.id')" class="btn btn-custom btn-primary">
                                    <i class="fas fa-image"></i> Ảnh
                                </a>
                                <a href='@Url.Action("Edit", new { id = item.id })' target="_blank" class="btn btn-custom btn-secondary">
                                    <i class="far fa-edit"></i> Sửa
                                </a>
                                <a onclick="ShowLog('@item.id')" class="btn btn-custom btn-warning">
                                    <i class="fa-solid fa-rectangle-list"></i> Log
                                </a>
                                <a onclick="Delete('@item.id')" class="btn btn-custom btn-danger">
                                    <i class="far fa-trash-alt"></i> Xóa
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            }

        }

    </tbody>
</table>

@if (data.Count > 0)
{
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
            <li class="page-item @(page == 1 ? "disabled" : "")">
                <a class="page-link" onclick="changePage(@idNhomBaiViet, @(page - 1), @totalPages)">Trang trước</a>
            </li>
            @if (totalPages <= 7)
            {
                for (int i = 1; i <= totalPages; i++)
                {
                    <li class="page-item @(i == page ? "active" : "")">
                        <a class="page-link" onclick="loadList(@idNhomBaiViet, @i)">@i</a>
                    </li>
                }
            }
            else
            {
                <li class="page-item @(1 == page ? "active" : "")">
                    <a class="page-link" onclick="loadList(@idNhomBaiViet, 1)">1</a>
                </li>
                if (page > pageWindow + 2)
                {
                    <li class="page-item disabled">
                        <a class="page-link">...</a>
                    </li>
                }
                for (int i = Math.Max(2, page - pageWindow); i <= Math.Min(totalPages - 1, page + pageWindow); i++)
                {
                    <li class="page-item @(i == page ? "active" : "")">
                        <a class="page-link" onclick="loadList(@idNhomBaiViet, @i)">@i</a>
                    </li>
                }
                if (page < totalPages - pageWindow - 1)
                {
                    <li class="page-item disabled">
                        <a class="page-link">...</a>
                    </li>
                }
                <li class="page-item @(totalPages == page ? "active" : "")">
                    <a class="page-link" onclick="loadList(@idNhomBaiViet, @totalPages)">@totalPages</a>
                </li>
            }
            <li class="page-item @(page == totalPages ? "disabled" : "")">
                <a class="page-link" onclick="changePage(@idNhomBaiViet, @(page + 1), @totalPages)">Trang sau</a>
            </li>
        </ul>
    </nav>
}
<div id="image-gallery" style="display:none;"></div>

<script>
    function saveNote(itemId) {
        $('#callConfirmModel').modal('show');
        var noteValue = $('#note-' + itemId).val();
        var noteContent = $("#noteContent");
        noteContent.text(noteValue)
        $("#saveNoteConfirm").on('click', function () {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("SaveNote")',
                data: {
                    id: itemId,
                    note: noteValue
                },

                success: function (response) {
                    var idNhomBaiViet = $("#idNhomBaiViet").val();
                    loadList(idNhomBaiViet, @page);
                    $('#callConfirmModel').modal('hide');
                    notify("Xác nhận gọi thành công", "success")
                },
                error: function (error) {
                    alert('Error saving note');

                }
            });
        })
    }
    $('.call-button').on('click', function () {
        $(this).closest('.call-container').find('.call-confirm').toggle();
    });
</script>
