@model ToolsApp.EntityFramework.BaiViet
@{ 
    var nhomBaiViet = ViewBag.nhomBaiViet as ToolsApp.EntityFramework.NhomBaiViet;
    var nhomBaiViets = ViewBag.nhomBaiViets as List<ToolsApp.EntityFramework.NhomBaiViet>;
    var ketCaus = ViewBag.ketCaus as List<ToolsApp.EntityFramework.KetCau>;
    var tyGia = ViewBag.tyGia as List<ToolsApp.EntityFramework.Config>;
  }

<div class="row">
    <div class="col-md-12">
        <div class="card mb-3">
            <div class="card-body info">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-lg-10">
                                <h4 class="mb-4 ">Thông tin tài sản    @($"{100000 + @Model.id}")</h4>
                            </div>
                            <div class="col-lg-2">
                                <div class="quickEdit d-flex align-items-center">
                                    <h6 class="mr-2 cm-tw-underline">Nhóm</h6>
                                    <select class=" form-control chosen-select" data-id="@Model.id" style="width: 100%" id="idNhomBaiViet" name="idNhomBaiViet" aria-label=".form-select-md">
                                     
                                        @foreach (var item in nhomBaiViets)
                                        {
                                         <option value="@item.id" @(item.id == Model.idNhomBaiViet ? "selected" : "")>@item.tenNhom</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-sm-2">
                                <h6 class="mb-0 text-success">Địa chỉ tài sản</h6>
                            </div>
                            <div class="col-md-10 col-sm-12">
                                <input value="@Model.diaChiTaiSan" data-id="@Model.id" class="form-control quickEdit" type="text" id="diaChiTaiSan" name="diaChiTaiSan">
                                <hr />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">
                                <h6 class="mb-0 text-success">Địa chỉ đầy đủ</h6>
                            </div>
                            <div class="col-md-10 col-sm-12">
                                <select class=" form-control chosen-select quickEdit" data-id="@Model.id" style="width: 100%" id="diaChiDayDu" name="diaChiDayDu" aria-label=".form-select-md">
                                    <option value="@Model.diaChiDayDu" >@Model.diaChiDayDu</option>

                                </select>
                                <hr />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">
                                <h6 class="mb-0 text-danger">Chiều ngang</h6>
                            </div>
                            <div class="col-md-10 col-sm-12">
                                <input value="@Model.chieuNgang" class="form-control quickEdit" data-id="@Model.id" min=0.01 step=0.01 onkeypress="return event.charCode != 45" type="number" id="chieuNgang" name="chieuNgang">
                                <hr>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-sm-2">
                                <h6 class="mb-0 text-danger">Chiều dài</h6>
                            </div>
                            <div class="col-md-10 col-sm-12">
                                <input value="@Model.chieuDai" class="form-control quickEdit"  min=0.01 step=0.01 onkeypress="return event.charCode != 45" data-id="@Model.id"  id="chieuDai" name="chieuDai">
                                <hr>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-2">
                                <h6 class="mb-0 text-danger">Diện tích đất</h6>
                            </div>
                            <div class="col-md-10 col-sm-12">
                                <input value="@Model.dienTichDat" class="form-control quickEdit"  min=0.01 step=0.01 onkeypress="return event.charCode != 45" data-id="@Model.id" type="number" id="dienTichDat" name="dienTichDat">
                                <hr>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-sm-2">
                                <h6 class="mb-0 text-danger">Diện tích xây dựng</h6>
                            </div>
                            <div class="col-md-10 col-sm-12">
                                <input value="@Model.dienTichXayDung" class="form-control quickEdit" data-id="@Model.id" min=0.01 step=0.01 onkeypress="return event.charCode != 45" type="number" id="dienTichXayDung" name="dienTichXayDung">
                                <hr>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-sm-2">
                                <h6 class="mb-0 text-danger">Diện tích sử dụng</h6>
                            </div>
                            <div class="col-md-10 col-sm-12">
                                <input value="@Model.dienTichSuDung" class="form-control quickEdit" min=0.01 step=0.01 onkeypress="return event.charCode != 45" data-id="@Model.id" type="number" id="dienTichSuDung" name="dienTichSuDung">

                                <hr>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">
                                <h6 class="mb-0 text-danger">Giá bán</h6>
                            </div>
                            <div class="col-md-10 col-sm-12">
                                <div class="row">
                                    <div class="col-lg-4 d-flex flex-column">
                                        <i class="">Giá</i>
                                        <input value="@Model.giaBan" class="form-control quickEdit"  min=0.01 step=0.01 onkeypress="return event.charCode != 45" data-id="@Model.id" type="number" id="giaBan" name="giaBan">
                                        <span id="donGiaLabel" class=" text-danger font-weight-bold mt-2">
                                        </span>
                                    </div>
                                    <div class="col-lg-8">
                                        <i>Ghi chú giá bán</i>
                                        <textarea class="form-control quickEdit" name="moTaGia" data-id="@Model.id">@Model.moTaGia</textarea>
                                    </div>
                                </div>

                            </div>

                        </div>


                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-sm-2">
                                <h6 class="mb-0 text-success">Vị trí</h6>
                            </div>
                            <div class="col-sm-10">
                                <div class="d-flex">
                                    <div class="form-check ">
                                        <input class="form-check-input quickEdit" type="radio" id="viTriMatTien" name="viTri"  data-id="@Model.id" value="true" @(Model.viTri.HasValue && Model.viTri.Value ? "checked" : "")>
                                        <label class="form-check-label" for="viTriMatTien">Mặt tiền</label>
                                    </div>
                                    <div class="form-check ml-3">
                                        <input class="form-check-inpu quickEdit" type="radio" id="viTriHem" name="viTri"  data-id="@Model.id" value="false" @(Model.viTri.HasValue && !Model.viTri.Value ? "checked" : "")>
                                        <label class="form-check-label" for="viTriHem">Hẻm</label>
                                    </div>
                                </div>
                                <hr>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-2">
                                <h6 class="mb-0">Mô tả vị trí</h6>
                            </div>
                            <div class="col-md-10 col-sm-12">
                                <textarea rows="2" class="form-control quickEdit" data-id="@Model.id" id="moTaViTri" name="moTaViTri">@Model.moTaViTri</textarea>
                                <hr>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-2">
                                <h6 class="mb-0 text-success">Kết cấu</h6>
                            </div>
                            <div class="col-sm-10 ">
                                <select class="form-control chosen-select" data-id="@Model.id" style="width: 100%" id="idKetCau" name="idKetCau" aria-label=".form-select-md">
                                    @foreach (var item in ketCaus)
                                    {
                                        <option value="@item.id" @(item.id == Model.idKetCau ? "selected" : "")>@item.tenKetCau</option>
                                    }

                                </select>
                                <hr>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">
                                <h6 class="mb-0 text-success">Số phòng</h6>
                            </div>
                            <div class="col-sm-10 ">
                                <input value="@Model.soPhong" class="form-control quickEdit" min=1 step=1 onkeypress="return event.charCode != 45" data-id="@Model.id" type="number" id="soPhong" name="soPhong">
                                <hr>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">
                                <h6 class="mb-0 ">Mô tả kết cấu</h6>
                            </div>
                            <div class="col-md-10 col-sm-12">
                                <textarea rows="2" cols="50" value="" class="form-control quickEdit" data-id="@Model.id" id="motaKetCau" name="motaKetCau">@Model.motaKetCau</textarea>
                                <hr />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-2">
                                <h6 class="mb-0 text-success">Hướng</h6>
                            </div>
                            <div class="col-md-10 col-sm-12">
                                <select class="form-control chosen-select quickEdit" style="width: 100%"  data-id="@Model.id"  id="huong" name="huong" aria-label=".form-select-md">
                                    <option value="Bắc">Bắc</option>
                                    <option value="Đông Bắc">Đông Bắc</option>
                                    <option value="Đông">Đông</option>
                                    <option value="Đông Nam">Đông Nam</option>
                                    <option value="Nam">Nam</option>
                                    <option value="Tây Nam">Tây Nam</option>
                                    <option value="Tây">Tây</option>
                                    <option value="Tây Bắc">Tây Bắc</option>
                                </select>
                                <hr>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-2"></div>
                            <div class="col-sm-10">
                                <div class="card">
                                    <div class="card-body">
                                        <h6 class="mb-0 text-center font-weight-bold">Thông tin thêm</h6>
                                        <hr />
                                        <div class="row text-center">
                                            <div class="col-lg-4">
                                                <p class="font-weight-bold text-danger">Giá m<sup>2</sup> đất</p>
                                                <i class="font-weight-bold" id="giaM2Dat"> @String.Format("{0:0,0 đ}", @Model.giaM2Dat)</i>
                                               
                                            </div>
                                            <div class="col-lg-4">
                                                <p class="font-weight-bold text-danger">Giá m<sup>2</sup> xây dựng</p>
                                                <i class="font-weight-bold" id="giaM2XayDung"> @String.Format("{0:0,0 đ}", @Model.giaM2XayDung)</i>
                                                
                                            </div>
                                            <div class="col-lg-4">
                                                <p class="font-weight-bold text-danger">Giá m<sup>2</sup> sử dụng</p>
                                                <i class="font-weight-bold" id="giaM2SuDung"> @String.Format("{0:0,0 đ}", @Model.giaM2SuDung)</i>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
<div class="row">
    <div class="col-md-12">
        <div class="card mb-3">
            <div class="card-body info">
                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="mb-4 ">Thông tin khách hàng</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <h6>Thông tin liên hệ</h6>
                        <div class="row">
                            <div class="col-lg-6">
                                <input value="@Model.tenKh" class="form-control quickEdit" data-id="@Model.id" placeholder="Tên khách hàng" type="text" id="tenKh" name="tenKh">
                            </div>
                            <div class="col-lg-6">
                                <input value="@Model.sdtKh" placeholder="Số điện thoại" class="form-control quickEdit"  data-id="@Model.id" type="number" id="sdtKh" name="sdtKh">
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-lg-6">
                                <input value="@Model.diachiKh" class="form-control quickEdit"  data-id="@Model.id" placeholder="Địa chỉ" type="text" id="diachiKh" name="diachiKh">
                            </div>
                            <div class="col-lg-6">
                                <input value="@Model.emailKh"  data-id="@Model.id" class="form-control quickEdit" type="email" placeholder="Email" id="emailKh" name="emailKh">
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <h6>Thông tin cá nhân</h6>
                            <div class="col-md-12 col-sm-12">
                                <input value="@Model.CCCDKh"  data-id="@Model.id" placeholder="Nhập số CCCD / Chứng minh thư" class="form-control quickEdit" type="text" id="CCCDKh" name="CCCDKh">
                            </div>

                        </div>
                        <hr>
                    </div>

                </div>
            </div>
        </div>
    </div>
   
</div>
<script>

    $(document).ready(function () {

        //Map auto fill
        $('#diaChiTaiSan').on('blur', function () {
            var address = $(this).val();
            if (address) {
                geocodeAddress(address);
            }
        });
        function geocodeAddress(address) {
            var url = `https://nominatim.openstreetmap.org/search?format=json&q=${encodeURIComponent(address)}&accept-language=vi`;
            $.getJSON(url, function (data) {
                if (data.length > 0) {
                    var $diaChiDayDu = $("#diaChiDayDu");
                    $diaChiDayDu.empty();
                    data.forEach(function (result) {
                        var displayName = result.display_name;
                        $diaChiDayDu.append(new Option(displayName, displayName));
                    });
                    $diaChiDayDu.trigger('change');
                } else {
                    alert('Không tìm thấy địa chỉ');
                }
            });
        }
        //Áp dụng select2
        $("select").each(function () {
            $(this).select2()
        })
        var donGia = 1000000000
        $('#idNhomBaiViet').change(function () {
            var id = $(this).data("id")
            var selectedValue = parseInt($(this).val());
            var donGiaLabel = $('#donGiaLabel');
            $.ajax({
                url: '@Url.Action("CheckTyGia")',
                type: 'POST',
                data: {id:id, idNhom:selectedValue},
                success: function (res) {
                      
                    if (res.success == true) {
                        donGia = res.donvi
                        donGiaLabel.text(res.tenDonVi)
                        }
                    },
                    error: function (xhr, status, error) {
                        notify('Có lỗi xảy ra');
                    }
                });
            });
        $('#idNhomBaiViet').change();

        $('#giaBan').on('blur', function () {
            var id = $(this).data("id")
            var giaBan = parseFloat($(this).val());
            if (!isNaN(giaBan)) {
                console.log(donGia);
                $.ajax({
                    url: '@Url.Action("GetUpdatedValues")',
                    type: 'POST',
                    data: { id: id },
                    success: function (response) {
                        var dienTichDat = response.dienTichDat;
                        var dienTichXayDung = response.dienTichXayDung;
                        var dienTichSuDung = response.dienTichSuDung;
                        var giaM2Dat = 0;
                        var giaM2XayDung = 0;
                        var giaM2SuDung = 0;
                            if (dienTichDat !== 0) {
                                giaM2Dat = giaBan * donGia / dienTichDat;
                            }
                            if (dienTichXayDung !== 0) {
                                 giaM2XayDung = giaBan * donGia / dienTichXayDung;
                            }
                            if (dienTichSuDung !== 0) {
                                 giaM2SuDung = giaBan * donGia / dienTichSuDung;
                            }
                            $('#giaM2Dat').text(giaM2Dat.toLocaleString('en-US') + ' VNĐ');
                            $('#giaM2XayDung').text(giaM2XayDung.toLocaleString('en-US') + ' VNĐ');
                            $('#giaM2SuDung').text(giaM2SuDung.toLocaleString('en-US') + ' VNĐ');

                            var data = {
                                id: id,
                                giaM2Dat: giaM2Dat,
                                giaM2SuDung: giaM2SuDung,
                                giaM2XayDung: giaM2XayDung
                            };
                            $.ajax({
                                url: '@Url.Action("QuickUpdateBaiViet")',
                                type: 'POST',
                                data: data,
                                success: function (response) {
                                },
                                error: function (error) {
                                    notify('Có lỗi xảy ra khi lưu thông tin thêm');
                                },
                                complete: function () {
                                }
                            })
                    },
                    error: function (xhr, status, error) {
                        console.error('Có lỗi xảy ra khi lấy giá trị mới.');
                    }
                });
            } else {
                console.error('Giá trị giaBan không hợp lệ.');
            }
        })

        //quickUpdate select2
            $("select").on('change', function () {
                var $this = $(this);
                var idBaiViet = $this.data('id');
                var newValue = $this.val();
                var inputName = $this.attr('name');
                var data = {
                    id: idBaiViet
                };
                data[inputName] = newValue;
                console.log(data);
                $.ajax({
                    url: '@Url.Action("QuickUpdateBaiViet")',
                    type: 'POST',
                    data: data,
                    success: function (response) {
                        if (response.success == true) {
                            console.log(newValue)
                            $this.val(newValue)
                        }
                    },
                    error: function (xhr, status, error) {
                        notify('Có lỗi xảy ra');
                    }
                });
            });
            $('.quickEdit').on('blur', function () {
            var $this = $(this);
            var idBaiViet = $this.data('id');
            var newValue = $this.val();
            var inputName = $this.attr('name');
            var data = {
                id: idBaiViet,
            };
            data[inputName] = newValue; //
            $.ajax({
                url: '@Url.Action("QuickUpdateBaiViet")',
                type: 'POST',
                data: data,
                success: function (response) {
                    if (response.success == true) {
                        console.log(newValue)
                        $this.val(newValue)
                    }

                },
                error: function (error) {
                    // Handle the error response
                    notify('Có lỗi xảy ra');
                },
                complete: function () {
                }
            });
        });

    })

</script>