
@{
    ViewBag.Title = "Danh sách";
    var data = ViewBag.data as List<ToolsApp.EntityFramework.Config>;
}
<table id="myTable" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th></th>
            <th>Tên loại tài khoản (Vi)</th>
            <th>Tên loại tài khoản (Eng)</th>
            <th>Tình trạng</th>
        </tr>
    </thead>
    <tbody>
        @{ var STT = 1; }
        @{
            if (data != null)
            {
                foreach (var item in data)
                {
                    <tr>
                        <td style="max-width:40px!important">
                            <a onclick="Edit('@item.Id')" class="btn">
                                <i class="fas fa-edit"></i> Edit
                            </a>
                            <a onclick="Delete('@item.Id')" class="btn">
                                <i class="far fa-trash-alt"></i> Delete
                            </a>
                        </td>
                        <td>@item.MoTa</td>
                        <td>@item.moTaChiTiet</td>
                        <td>@item.hieuLuc</td>
                    </tr>

                    STT++;
                }
            }
           
        }

        </tbody>
    </table>
