
@{
    ViewBag.Title = "GetList";
}
@*<table id="myTable" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th></th>
            <th>Mô tả</th>
            <th>Mô tả chi tiết</th>
            <th>Nguời tạo</th>
            <th>Ngày tạo</th>
            <th>Ip người dùng</th>
        </tr>
    </thead>    
    <tbody>
        @{
            if (data != null)
            {
                foreach (var item in data)
                {
                    <tr>
                        <td style="max-width:40px!important">
                            <a onclick="Edit('@item.Id')" class="btn">
                                <i class="fas fa-edit"></i> Edit
                            </a>
                            <a onclick="Delete('@item.Id')" class="btn">
                                <i class="far fa-trash-alt"></i> Delete
                            </a>
                        </td>
                        <td>@item.moTa</td>
                        <td>@item.moTaChiTiet</td>
                        <td>@item.nguoiTao</td>
                        <td>@item.ngayTao</td>
                        <td>@item.ipUserHostAddress</td>
                    </tr>
                }
            }
           
        }

        </tbody>
    </table>*@