
@{
    ViewBag.Title = "GetList";
    var data = ViewBag.data as List<ToolsApp.Models.ChinhSachModels>;
}
<table id="myTable" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th></th>
            <th>id</th>
            <th>Tiêu đề</th>
            <th>Nguời tạo</th>
            <th>Ngày tạo</th>
        </tr>
    </thead>
    <tbody>
        @{
            if (data != null)
            {
                foreach (var item in data)
                {
                    <tr>
                        <td style="max-width:80px!important">
                            <a onclick="Edit('@item.id')" class="btn">
                                <i class="fas fa-edit"></i> Edit
                            </a>
                            <a onclick="Delete('@item.id')" class="btn">
                                <i class="far fa-trash-alt"></i> Delete
                            </a>
                            <a href="@Url.Action("View", new { id = item.id })" class="btn">
                                <i class="far fa-eye"></i> View
                            </a>
                        </td>
                        <td>@item.id</td>
                        <td>@item.tieuDe</td>
                        <td>@item.nguoiTao</td>
                        <td>@item.ngayTao.Value.ToString("dd/MM/yyyy")</td>
                    </tr>
                }
            }

        }

    </tbody>
</table>

<script>
    function view(id) {
          
    }
</script>