@{
    var Lists = ViewBag.List as IEnumerable<ToolsApp.EntityFramework.Page>;
   
}

<table id="myTable" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th></th>
            <th>Stt</th>
            <th>Mã code</th>
            <th>Thông tin</th>
            <th>Controler</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @{ var STT = 1; }
        @foreach (var item in Lists)
        {
            <tr>
                <td style="max-width:40px!important">
                    <a onclick="Edit('@item.Id')" class="btn">
                        <i class="fas fa-edit"></i> Cập nhật
                    </a>
                    <a onclick="Delete('@item.Id')" class="btn">
                        <i class="far fa-trash-alt"></i> Xóa
                    </a>
                </td>
                <td>
                    @STT
                </td>
                <td>@item.Code</td>
                <td>@item.Info</td>
                <td>@item.controllerName</td>
                <td>@item.actionName</td>
            </tr>

            STT++;
        }
    </tbody>
</table>