@{

    var List = ViewBag.List as IEnumerable<ToolsApp.EntityFramework.Menu>;
}

<table id="myTable" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th></th>
            <th>Stt</th>
            <th>Tên menu</th>
            <th>Menu chính</th>
            <th>Trang web</th>
            <th>Icon</th>
            <th>Thứ tự sắp xếp</th>
        </tr>
    </thead>
    <tbody>
        @{ var STT = 1; }
        @foreach (var item in List)
        {
            <tr>
                <td>
                    <a onclick="Edit('@item.Id')" class="btn btn-secondary btn-custom">
                        <i class="fas fa-edit"></i> Sửa
                    </a>
                    <a onclick="Delete('@item.Id')" class="btn btn-danger btn-custom">
                        <i class="far fa-trash-alt"></i> Xóa
                    </a>
                </td>
                <td>
                    @STT
                </td>
                <td>@item.tenMenu</td>
                <td>
                    @(item.Menu1!=null ? item.Menu1.tenMenu:"Root" )
                </td>
                <td>
                    @(item.Page != null ? item.Page.Info:"" )
                </td>
                <td>@Html.Raw(item.iconMenu)</td>
                <td>@item.sortOrder</td>
            </tr>

            STT++;
        }
    </tbody>
</table>