@model ToolsApp.Models.QLKTPMenuViewModel

@{
    var Roots = ViewBag.Roots as List<ToolsApp.EntityFramework.Menu>;

    var Pages = ViewBag.Pages as List<ToolsApp.EntityFramework.Page>;
}

@Html.ValidationSummary(true, "", new { @class = "text-danger" })
@Html.HiddenFor(model => model.Id)

<div class="row" style="margin-bottom:5px">
    <label class="col-md-12 col-sm-12">Tên menu</label>
    <div class="col-md-12 col-sm-12 ten">
        @Html.EditorFor(model => model.tenMenu, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.tenMenu, "", new { @class = "text-danger" })
    </div>
</div>

<div class="row" style="margin-bottom:5px">
    <label class="col-md-12 col-sm-12">Menus cha</label>
    <div class="col-md-12 col-sm-12 ten">
        <select id="parentId" name="parentId" class="form-control chosen-select" style="width: 100%;">
            <option value="0">
                --Root--
            </option>
            @foreach (var item in Roots)
            {
                <option value="@item.Id">
                    @item.tenMenu
                </option>
            }
        </select>
    </div>
</div>

<div class="row" style="margin-bottom:5px">
    <label class="col-md-12 col-sm-12">Trang web</label>
    <div class="col-md-12 col-sm-12 ten">
        <select id="idPage" name="idPage" class="form-control chosen-select" style="width: 100%;">
            <option value="0">
                --Root--
            </option>
            @foreach (var item in Pages)
            {
                <option value="@item.Id">
                    @item.Code - @item.Info - @item.controllerName/@item.actionName
                </option>
            }
        </select>
    </div>
</div>

<div class="row" style="margin-bottom:5px">
    <label class="col-md-12 col-sm-12">Icon menu</label>
    <div class="col-md-12 col-sm-12 ten">
        @Html.EditorFor(model => model.iconMenu, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.iconMenu, "", new { @class = "text-danger" })
    </div>
</div>
<div class="row" style="margin-bottom:5px">
    <label class="col-md-12 col-sm-12">Số thứ tự</label>
    <div class="col-md-12 col-sm-12 ten">
        @Html.EditorFor(model => model.sortOrder    , new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.sortOrder, "", new { @class = "text-danger" })
    </div>
</div>

<script type="text/javascript">
    var config = {
        '.chosen-select': {},
        '.chosen-select-deselect': { allow_single_deselect: true },
        '.chosen-select-no-single': { disable_search_threshold: 10 },
        '.chosen-select-no-results': { no_results_text: 'Oops, nothing found!' },
        '.chosen-select-width': { width: "125%" },
        'search_contains': true
    }
    for (var selector in config) {
        $(selector).chosen(config);
    }
</script>