
@{
    ViewBag.Title = "Danh mục kết cấu";
    var user = ViewBag.user as ToolsApp.EntityFramework.User;
}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary border-no-color card-outline">
                    <div class="card-header">
                        <h3 class="card-title">
                            <b>TÌM KIẾM THEO TỪ KHÓA</b>
                        </h3>
                    </div>
                    <div class="card-body pad">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Tên phương hướng</label>
                                    <input class="form-control form-control-md" type="text" autocomplete="off" id="tenPhuongHuongSearch" name="tenPhuongHuongSearch" />
                                </div>
                            </div>
                            @*<div class="col-md-4">
                                <div class="form-group">
                                    <label>Ngày tạo</label>
                                    <input value="@DateTime.Now.AddDays(-7).ToString("dd/MM/yyyy")"
                                           class="form-control" type="text" autocomplete="off"
                                           id="ngayTaoSearch" name="ngayTaoSearch" />
                                </div>
                            </div>*@

                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <button id="btnSearch" type="button" class="btn bg-gradient-primary"><i class="fa fa-search"></i>&nbsp;Tìm kiếm</button>
                            </div>
                        </div>
                    </div>
                    <!-- /.card -->
                </div>
            </div>
            <!-- /.col -->
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h3 class="card-title">
                            <b>KẾT QUẢ</b>
                        </h3>
                    </div>
                    <div class="card-body pad">
                        <div class="row">
                            <div class="col-md-4">
                                <button id="btnCreate" type="button" class="btn bg-gradient-success"><i class="fa fa-plus"></i>&nbsp;Thêm</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 mt-4 table-body table-responsive">
                            </div>
                        </div>
                    </div>
                    <!-- /.card -->
                </div>
            </div>
            <!-- /.col -->
        </div>
    </div><!-- /.container-fluid -->
</section>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content custom-modal-css">
            @using (Html.BeginForm(null, null, FormMethod.Get, new { name = "frm", id = "frm", enctype = "multipart/form-data" }))
            {

                <div class="modal-header custom-modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold" id="myModalTitle"></h4>
                    <button type="button" style="color: white" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-3">
                    <div id="myModalContent">
                    </div>

                </div>
                <div class="modal-footer modal-custom-footer footer d-flex ">
                    <button type="button" id="btSave" class="btn btn-sm btn-success"><i class="fa fa-save"></i>&nbsp;Lưu</button>
                    <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal"><i class="fa fa-close"></i>&nbsp;Đóng</button>
                </div>
            }

        </div>
    </div>
</div>

@section scripts{
    <script>
        //$("#ngayTaoSearch").datepicker({
        //    format: 'dd/mm/yyyy',
        //    changeYear: true,
        //    changeMonth: true,
        //    onClose: function (selectedDate) {
        //        //$("#FromDate").datepicker("option", "minDate", selectedDate);
        //    }
        //});
        var myModal = {
             $modal : $('#myModal'),
            $myModalContent : $("#myModalContent"),
            $myModalTitle: $("#myModalTitle")
        }
          var paramsLoadData = [
            true,
            '@Url.Action("GetList")',
              '#tenPhuongHuongSearch', /*'#ngayTaoSearch',*/
        ];

        function Delete(id_) {
            if (confirm('Do you want to delete this item ?')) {
                Action('@Url.Action("_DeleteFun")', 'POST', { Id: id_ }, paramsLoadData)
            }
        }
        function Edit(Id) {
            loadModal('CẬP NHẬT', '@Url.Action("Edit")', myModal, { Id: Id})
        }

        $(document).ready(function () {
            loadData(...paramsLoadData);
            $("#myModal").on("hidden.bs.modal", function () {
                loadData(false);
            });
            $("#btnSearch").click(function () {
            loadData(...paramsLoadData);
            });
            $("#btSave").click(function () {

                var formData = {
                    id: $("#id").val(),
                    tenPhuongHuong: $("#MoTa").val().trim(),
                }
                console.log(formData);
                Action(formData.id == "0" ? '@Url.Action("_InsertFun")' : '@Url.Action("_EditFun")', 'POST', formData, paramsLoadData)
                myModal.$modal.modal('hide');
            });

            $("#btnCreate").click(function () {
                loadModal('Thêm kết cấu', '@Url.Action("Insert")', myModal, {Id:0})

            });
        });
    </script>
}
}