@model ToolsApp.EntityFramework.User

@{
    var pages = ViewBag.pages as List<ToolsApp.EntityFramework.Page>;
}

@Html.ValidationSummary(true, "", new { @class = "text-danger" })
@Html.HiddenFor(model => model.Id)
@Html.HiddenFor(model => model.tenTaiKhoan)

<div class="row" style="margin-bottom:5px">
    <label class="col-md-12 col-sm-12">Pages</label>
    <div class="col-md-12 col-sm-12 ten">
        <select id="Pages" name="Pages" multiple="multiple" class="form-control chosen-select" style="width: 100%;">
            @foreach (var item in pages)
            {
                <option value="@item.Id"
                        @(Model.UserAuthorizations != null && Model.UserAuthorizations.FirstOrDefault(p => p.idPage == item.Id) != null ? "selected=\"selected\"" : "")>
                    @item.Code. @item.actionName/@item.controllerName
                </option>
            }
        </select>
    </div>
</div>

<script type="text/javascript">
    var config = {
        '.chosen-select': {},
        '.chosen-select-deselect': { allow_single_deselect: true },
        '.chosen-select-no-single': { disable_search_threshold: 10 },
        '.chosen-select-no-results': { no_results_text: 'Oops, nothing found!' },
        '.chosen-select-width': { width: "95%" },
        'search_contains': true
    }
    for (var selector in config) {
        $(selector).chosen(config);
    }
</script>