
@{
    ViewBag.Title = "GetList";
    var data = ViewBag.KetCaus as List<ToolsApp.Models.KetCauModels>;
}
<table id="myTable" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th></th>
            <th>Tên kết cấu</th>
            <th>Nguời tạo</th>
            <th>Ngày tạo</th>
            <th>Nguời cập nhật</th>
            <th>Ngày cập nhật</th>
            <th>Tình trạng</th>
        </tr>
    </thead>
    <tbody>
        @{ var STT = 1; }
        @{
            if (data != null)
            {
                foreach (var item in data)
                {
                <tr>
                            <td>
                        
                                <a onclick="Edit('@item.id')" class="btn btn-secondary btn-custom">
                                    <i class="fas fa-edit"></i> Sửa
                                </a>
                                <a onclick="Delete('@item.id')" class="btn btn-danger btn-custom">
                                    <i class="far fa-trash-alt"></i> Xóa
                                </a>
                            </td>
                    <td>@item.tenKetCau</td>
                    <td>@item.tenNguoiTao</td>
                    <td>@item.ngayTao</td>
                    <td>@item.tenNguoiCapNhat</td>
                    <td>@item.ngayCapNhat</td>
                    <td>
                        @if (item.trangThai == true)
                        {
                            <div class="d-flex align-items-center">
                                <i class="fa-solid fa-circle" style="color: green;"></i>
                                <span class="ml-1">Đang hoạt động</span>
                            </div>
                        }
                        else
                        {
                            <div class="d-flex align-items-center">
                                <i class="fa-solid fa-circle" style="color: red;"></i>
                                <span  class="ml-1">Không hoạt động</span>
                            </div>
                        }
                    </td>
                </tr>

                    STT++;
                }
            }
           
        }

        </tbody>
    </table>
