

@{
    var list = ViewBag.list as List<ToolsApp.EntityFramework.User>;
    var dataUser = ViewBag.dataUser as ToolsApp.EntityFramework.User;
}

<div>
    <label class="mb-3">Tổng kết quả:</label> <label class="total-item"> @list.Count()</label>
</div>
<table id="myTable" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th></th>
            <th>Tên tài khoản</th>
            <th>Tên nhân viên</th>
            <th>Email</th>
            <th>Số điện thoại</th>
            <th>Hồ sơ nhân viên</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in list)
        {
            <tr>
                <td width="133px">
                    <a onclick="Update('@item.Id')" class="btn">
                        <i class="fas fa-edit"></i> Sửa
                    </a>
                    <a onclick="ChangePassword('@item.Id')" class="btn">
                        <i class="fa-solid fa-key"></i> Mật khẩu
                    </a>
                </td>
                <td>@item.tenTaiKhoan</td>
                <td>@item.hoVaTen </td>
                <td>@item.email</td>
                <td>@item.soDienThoai</td>
                <td>
                    <div class="text-center">
                        <a href="@Url.Action("ViewInfomation", new { id = item.Id })" class="btn btn-custom btn-primary">
                            <i class="fa-solid fa-rectangle-list"></i> Log
                        </a>
                        <a onclick="ShowLog('@item.Id')" class="btn btn-custom btn-">
                            <i class="fa-solid fa-rectangle-list"></i> Log
                        </a>
                    </div>
                 
                </td>
               
               
            </tr>
        }
    </tbody>
</table>
<script>
    @*function ViewInfomation(Id) {
        var formData = {
            Id:Id
        }
        Action('@Url.Action("ViewInfomation")', 'POST', formData)
    }*@
</script>