


@{
    var data = ViewBag.model as ToolsApp.EntityFramework.User;
}
<input id="Id" name="Id" value="@data.Id" style="display:none" />
<div class="row" style="margin-bottom:5px">
    <div class="col-md-12 col-sm-4">
        <div class="row" style="margin-bottom:5px">
            <label class="col-md-12 col-sm-12">Tên tài khoản</label>
            <div class="col-md-12 col-sm-12 ten">
                <input disabled oninput="this.value = this.value.toUpperCase().trim()" value="@data.UserName" class="form-control" type="text" id="username" name="username" />
            </div>
        </div>
      
        <div class="row" style="margin-bottom:5px">
            <label class="col-md-12 col-sm-12">Tên nhân viên</label>
            <div class="col-md-12 col-sm-12 ten">
                <input value="@data.HoNV" class="form-control" type="text" id="fullName" name="fullName" />
            </div>
        </div>
        <div class="row" style="margin-bottom:5px">
            <label class="col-md-12 col-sm-12">Tên nhân viên</label>
            <div class="col-md-12 col-sm-12 ten">
                <input value="@data.TenNV" class="form-control" type="text" id="fullName" name="fullName" />
            </div>
        </div>
        <div class="row" style="margin-bottom:5px">
            <label class="col-md-12 col-sm-12">Email</label>
            <div class="col-md-12 col-sm-12 ten">
                <input oninput="this.value = this.value.trim()" value="@data.Email" class="form-control" type="text" id="email" name="email" />
            </div>
        </div>

        <div class="row" style="margin-bottom:5px">
            <label class="col-md-12 col-sm-12">Phone</label>
            <div class="col-md-12 col-sm-12 ten">
                <input disabled oninput="this.value = this.value().trim()" value="@data.SoDienThoai" class="form-control" type="text" id="phone" name="phone" />
            </div>
        </div>




    </div>
    @*Ngay lam viec*@


</div>
<script type="text/javascript">
    var config = {
        '.chosen-select': {},
        '.chosen-select-deselect': { allow_single_deselect: true },
        '.chosen-select-no-single': { disable_search_threshold: 10 },
        '.chosen-select-no-results': { no_results_text: 'Oops, nothing found!' },
        '.chosen-select-width': { width: "125%" },
        'search_contains': true
    }
    for (var selector in config) {
        $(selector).chosen(config);
    }


</script>
