
@{
    ViewBag.Title = "THÔNG TIN NHÂN VIÊN";
}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary border-no-color card-outline">
                    <div class="card-header">
                        <h3 class="card-title">
                            <b>TÌM KIẾM THEO TỪ KHÓA</b>
                        </h3>
                    </div>
                    <div class="card-body pad">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Tên tài khoản</label>
                                    <input class="form-control form-control-md" type="text" autocomplete="off" id="UsernameSearch" name="UsernameSearch" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Tên nhân viên</label>
                                    <input class="form-control form-control-md" type="text" autocomplete="off" id="FullnameSearch" name="FullnameSearch" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Loại tài khoản</label>
                                    <select id="AccountType" name="AccountType" class="form-control chosen-select" style="width: 100%;">
                                        <option value="">-- All --</option>
                                        <option value="Admin">Admin</option>
                                        <option value="User">User</option>
                                    </select>
                                </div>
                            </div>
                            <!-- /.col -->
                            <div class="col-md-12">
                                <!-- /.form-group -->
                                <div class="form-group">
                                    <button id="btnSearch" type="button" class="btn bg-gradient-primary"><i class="fa fa-search"></i> Tìm kiếm</button>

                                </div>
                                <!-- /.form-group -->
                            </div>
                            <!-- /.col -->
                        </div>
                    </div>
                    <!-- /.card -->
                </div>
            </div>
            <!-- /.col -->
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h3 class="card-title">
                            <b>KẾT QUẢ</b>
                        </h3>
                    </div>
                    <div class="card-body pad">
                        <div class="row">
                            <div class="col-md-4">
                                <button id="btnCreate" onclick="Insert()" type="button" class="btn bg-gradient-success"><i class="fa fa-plus"></i>&nbsp;Thêm</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 mt-4 table-body table-responsive">
                            </div>
                        </div>
                    </div>
                    <!-- /.card -->
                </div>
            </div>
            <!-- /.col -->
        </div>
    </div><!-- /.container-fluid -->
</section>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content custom-modal-css">
            @using (Html.BeginForm(null, null, FormMethod.Get, new { name = "frm", id = "frm", enctype = "multipart/form-data" }))
            {

            <div class="modal-header custom-modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold" id="myModalTitle"></h4>
                <button type="button" style="color: white" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3">
                <div id="myModalContent">
                </div>

            </div>
            <div class="modal-footer modal-custom-footer footer d-flex ">
                <button type="button" onclick="Insert_Action()" id="btSave" class="btn btn-sm btn-success"><i class="fa fa-save"></i>&nbsp;Lưu</button>
                <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal"><i class="fa fa-close"></i>&nbsp;Đóng</button>
            </div>
            }

        </div>
    </div>
</div>
@*Update Image*@

<div class="modal fade" id="myModalImage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content custom-modal-css">
            @using (Html.BeginForm(null, null, FormMethod.Get, new { name = "frm", id = "frm", enctype = "multipart/form-data" }))
            {
            <div class="modal-header custom-modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold" id="myModalImageTitle"></h4>
                <button type="button" style="color: white" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3">
                <div id="myModalImageContent">
                </div>

            </div>
            <div class="modal-footer modal-custom-footer footer d-flex ">
                <button type="button" onclick="UploadImage()" id="btSave" class="btn btn-sm btn-success"><i class="fa fa-save"></i>&nbsp;Cập nhật</button>
                <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal"><i class="fa fa-close"></i>&nbsp;Đóng</button>
            </div>
            }

        </div>
    </div>
</div>
@*Update User*@
<div class="modal fade" id="myModalUpdate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content custom-modal-css">
            @using (Html.BeginForm(null, null, FormMethod.Get, new { name = "frm", id = "frm", enctype = "multipart/form-data" }))
            {

            <div class="modal-header custom-modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold" id="myModalUpdateTitle"></h4>
                <button type="button" style="color: white" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3">
                <div id="myModalUpdateContent">
                </div>

            </div>
            <div class="modal-footer modal-custom-footer footer d-flex ">
                <button type="button" onclick="Update_Action()" id="btSave" class="btn btn-sm btn-success"><i class="fa fa-save"></i>&nbsp;Cập nhật</button>
                <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal"><i class="fa fa-close"></i>&nbsp;Đóng</button>
            </div>
            }

        </div>
    </div>
</div>
@*Password User*@

<div class="modal fade" id="myModalPassword" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content custom-modal-css">
            @using (Html.BeginForm(null, null, FormMethod.Get, new { name = "frm", id = "frm", enctype = "multipart/form-data" }))
            {
  
            <div class="modal-header custom-modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold" id="myModalPasswordTitle"></h4>
                <button type="button" style="color: white" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3">
                <div id="myModalPasswordContent">
                </div>

            </div>
            <div class="modal-footer modal-custom-footer footer d-flex ">
                <button type="button" id="btSave" onclick="SaveNewPassword()" class="btn btn-sm btn-success"><i class="fa fa-save"></i>&nbsp;Cập nhật</button>
                <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal"><i class="fa fa-close"></i>&nbsp;Đóng</button>
            </div>
            }

        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">

        var config = {
            '.chosen-select': {},
            '.chosen-select-deselect': { allow_single_deselect: true },
            '.chosen-select-no-single': { disable_search_threshold: 10 },
            '.chosen-select-no-results': { no_results_text: 'Oops, nothing found!' },
            '.chosen-select-width': { width: "95%" },
            'search_contains': true
        }
        for (var selector in config) {
            $(selector).chosen(config);
        }

    </script>
    <script>
        var myModal = {
             $modal : $('#myModal'),
             $myModalContent : $("#myModalContent"),
             $myModalTitle : $("#myModalTitle")
        }

        var myModalImage = {
            $modal: $('#myModalImage'),
            $myModalContent: $("#myModalImageContent"),
            $myModalTitle: $("#myModalImageTitle")
        }
        var myModalUpdate = {
            $modal: $('#myModalUpdate'),
            $myModalContent: $("#myModalUpdateContent"),
            $myModalTitle: $("#myModalUpdateTitle")
        }

        var myModalPassword = {
            $modal: $('#myModalPassword'),
            $myModalContent: $("#myModalPasswordContent"),
            $myModalTitle: $("#myModalPasswordTitle")
        }

        var paramsLoadData = [
            true,
            '@Url.Action("_GetList")',
            '#UsernameSearch',
            '#AccountType',
            '#FullnameSearch'

        ];

        $(document).ready(function () {
            loadData(...paramsLoadData);

            $("#myModal").on("hidden.bs.modal", function () {
                loadData(false);
            });

            $("#btnSearch").click(function () {
                loadData(...paramsLoadData);
            });

        });
        function Insert() {
            loadModal('THÊM NHÂN VIÊN', '@Url.Action("_Insert_View")', myModal, {Id:0})
        }

        function Insert_Action() {
            var formData = {
                hoVaTen: $('#hoVaTen').val(),
                tenTaiKhoan: $('#tenTaiKhoan').val().trim(),
                matKhau: $('#matKhau').val().trim(),
                email: $('#email').val().trim().trim(),
                soDienThoai: $('#soDienThoai').val().trim(), 
                dcThuongTru: $('#dcThuongTru').val(),
                dcTamTru: $('#dcTamTru').val(),
            };
            console.log(formData.email)
            if (formData.fullName == '' || formData.username == '' || formData.password == '' || formData.email == '') {
                notify('Vui lòng điền đầy đủ thông tin')
            }
            else if (formData.password.length < 6) {
                notify('Mật khẩu phải từ 6 ký tự trở lên')
            }
            else if (!isEmail(formData.email)) {
                notify('Email không đúng định dạng')
            }
            else {
            Action('@Url.Action("Register")', 'POST', formData, paramsLoadData)
            myModal.$modal.modal('hide')
            }
        }
        /* Update User*/
        function Update_Action() {
            var formData = {
                id: $('#Id').val(),
                fullName: $('#fullName').val().trim(),
                username: $('#username').val().trim(),
                email: $('#email').val().trim(),
                phone: $('#username').val().trim(),
                idDepartment: $('#idDepartment').val(),
                accoutType: "User"
            };
            if (formData.fullName == '' || formData.email == '') {
                notify('Vui lòng điền đầy đủ thông tin')
            }
            else if (!isEmail(formData.email)) {
                notify('Email không đúng định dạng')
            }
            Action('@Url.Action("EditUser")', 'POST', formData, paramsLoadData)
            myModalUpdate.$modal.modal('hide')
        }

        function Update(id) {
            loadModal('CẬP NHẬT', '@Url.Action("_Update_View")', myModalUpdate,id)
        }



        //Upload ảnh
        var isChossed = false
        var a = {}
        $(document).ready(function () {
            $('#myModalImage').on('change', '#image', function () {
                var selectedFile = this.files[0];
                a = selectedFile

                if (a !== null && a !== undefined) {
                    isChossed = true
                }
                else {
                    isChossed = false;

                }
            });
        });

        function Upload(id) {
            loadModal('CẬP NHẬT ẢNH NHÂN VIÊN', '@Url.Action("_Image_View")', myModalImage,id)
        }
    

        function ChangePassword(Id) {
            loadModal('CẬP NHẬT MẬT KHẨU', '@Url.Action("ChangePassword")', myModalPassword,Id)
        }
        function SaveNewPassword() {
            var Username = $('#Username').val().trim();
            var newPass = $('#newPass').val().trim();
            if (newPass.length < 6) {
                notify("Mật khẩu phải từ 6 ký tự trở lên!");
            }
            else {
                Action('@Url.Action("SaveNewPassword")', 'POST', { Username: Username, newPass: newPass }, paramsLoadData)
                $('#myModalPassword').modal('hide');

            }
        }
        function LockUser(id) {
            if (confirm("Bạn có chắc muốn khóa người dùng này")) {
             Action('@Url.Action("_Lock_User")', 'POST', { Id: id }, paramsLoadData)
            }
        }
        function Infomation(id) {
            $.ajax({
                url: '@Url.Action("InfomationRoute")',
                timeout: 2000000,
                data: {
                    Id: id
                },
                beforeSend: function (xhr) {
                    $(".divLoading").addClass("loading");
                },
            }).done(function (data) {
                $(".divLoading").removeClass("loading");

            }).fail(function () {
                notify("Loi roi", "error");
                $(".divLoading").removeClass("loading");
            });
        }
    </script>
}