
@{
    ViewBag.Title = "THÔNG TIN NHÂN VIÊN";
    var dataAccountType = ViewBag.dataAccountType as List<ToolsApp.EntityFramework.Config>;
}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary border-no-color card-outline">
                    <div class="card-header">
                        <h3 class="card-title">
                            <b>TÌM KIẾM THEO TỪ KHÓA</b>
                        </h3>
                    </div>
                    <div class="card-body pad">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Tên tài khoản</label>
                                    <input class="form-control form-control-md" type="text" autocomplete="off" id="UsernameSearch" name="UsernameSearch" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Tên nhân viên</label>
                                    <input class="form-control form-control-md" type="text" autocomplete="off" id="FullnameSearch" name="FullnameSearch" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Loại tài khoản</label>
                                    <select id="dataAccountType" name="dataAccountType" class="form-control chosen-select" style="width: 100%;">
                                       @foreach (var item in dataAccountType)
                                       {
                                           <option value="@item.Id">@item.MoTa</option>
                                       }
                                    </select>
                                </div>
                            </div>
                            <!-- /.col -->
                            <div class="col-md-12">
                                <!-- /.form-group -->
                                <div class="form-group">
                                    <button id="btnSearch" type="button" class="btn bg-gradient-primary"><i class="fa fa-search"></i> Tìm kiếm</button>

                                </div>
                                <!-- /.form-group -->
                            </div>
                            <!-- /.col -->
                        </div>
                    </div>
                    <!-- /.card -->
                </div>
            </div>
            <!-- /.col -->
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h3 class="card-title">
                            <b>KẾT QUẢ</b>
                        </h3>
                    </div>
                    <div class="card-body pad">
                       
                        <div class="row">
                            <div class="col-md-12 mt-4 table-body table-responsive">
                            </div>
                        </div>
                    </div>
                    <!-- /.card -->
                </div>
            </div>
            <!-- /.col -->
        </div>
    </div><!-- /.container-fluid -->
</section>

@*Update Image*@

<div class="modal fade" id="myModalImage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content custom-modal-css">
            @using (Html.BeginForm(null, null, FormMethod.Get, new { name = "frm", id = "frm", enctype = "multipart/form-data" }))
            {
            <div class="modal-header custom-modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold" id="myModalImageTitle"></h4>
                <button type="button" style="color: white" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3">
                <div id="myModalImageContent">
                </div>

            </div>
            <div class="modal-footer modal-custom-footer footer d-flex ">
                <button type="button" onclick="UploadImage()" id="btSave" class="btn btn-sm btn-success"><i class="fa fa-save"></i>&nbsp;Cập nhật</button>
                <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal"><i class="fa fa-close"></i>&nbsp;Đóng</button>
            </div>
            }

        </div>
    </div>
</div>
<div class="modal fade" id="myModalChangeRole" tabindex="-1" role="dialog" aria-labelledby="myModalChangeRole"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content custom-modal-css">
            @using (Html.BeginForm(null, null, FormMethod.Get, new { name = "frm", id = "frm", enctype = "multipart/form-data" }))
            {
                <div class="modal-header custom-modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold" id="myModalChangeRoleTitle"></h4>
                    <button type="button" style="color: white" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-3">
                    <div id="myModalChangeRoleContent">
                    </div>

                </div>
                <div class="modal-footer modal-custom-footer footer d-flex ">
                    <button type="button" id="btnSaveChangeRole" class="btn btn-sm btn-success"><i class="fa fa-save"></i>&nbsp;Lưu</button>
                    <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal"><i class="fa fa-close"></i>&nbsp;Đóng</button>
                </div>
            }

        </div>
    </div>
</div>
<div class="modal fade" id="myModalShowLog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" style="max-width: 80%" role="document">
        <div class="modal-content" style="width: 100%;height:auto;">
            @using (Html.BeginForm(null, null, FormMethod.Get, new { name = "frm", id = "frm", enctype = "multipart/form-data" }))
            {

                <div class="modal-header custom-modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold" id="myModalShowLogTitle"></h4>
                    <button type="button" style="color: white" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-3">
                    <div id="myModalShowLogContent">
                    </div>

                </div>
                <div class="modal-footer modal-custom-footer footer d-flex ">
                    <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal"><i class="fa fa-close"></i>&nbsp;Đóng</button>
                </div>
            }

        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">

        var config = {
            '.chosen-select': {},
            '.chosen-select-deselect': { allow_single_deselect: true },
            '.chosen-select-no-single': { disable_search_threshold: 10 },
            '.chosen-select-no-results': { no_results_text: 'Oops, nothing found!' },
            '.chosen-select-width': { width: "95%" },
            'search_contains': true
        }
        for (var selector in config) {
            $(selector).chosen(config);
        }

    </script>
    <script>
        var myModal = {
             $modal : $('#myModal'),
             $myModalContent : $("#myModalContent"),
             $myModalTitle : $("#myModalTitle")
        }

        var myModalImage = {
            $modal: $('#myModalImage'),
            $myModalContent: $("#myModalImageContent"),
            $myModalTitle: $("#myModalImageTitle")
        }
        var myModalUpdate = {
            $modal: $('#myModalUpdate'),
            $myModalContent: $("#myModalUpdateContent"),
            $myModalTitle: $("#myModalUpdateTitle")
        }

        var myModalPassword = {
            $modal: $('#myModalPassword'),
            $myModalContent: $("#myModalPasswordContent"),
            $myModalTitle: $("#myModalPasswordTitle")
        }
        var myModalChangeRole = {
            $modal: $('#myModalChangeRole'),
            $myModalContent: $("#myModalChangeRoleContent"),
            $myModalTitle: $("#myModalChangeRoleTitle")
        }
        var myModalShowLog = {
            $modal: $('#myModalShowLog'),
            $myModalContent: $("#myModalShowLogContent"),
            $myModalTitle: $("myModalShowLogTitle")
        }
        var paramsLoadData = [
            true,
            '@Url.Action("_GetList")',
            '#UsernameSearch',
            '#dataAccountType',
            '#FullnameSearch'

        ];

        $(document).ready(function () {
            loadData(...paramsLoadData);

            $("#myModal").on("hidden.bs.modal", function () {
                loadData(false);
            });

            $("#btnSearch").click(function () {
                loadData(...paramsLoadData);
            });
             $("#btnSaveChangeRole").click(function () {
                 var formData = {
                     Id: $("#IdUser").val(),
                     capDoTaiKhoan: $("#capDoTaiKhoan").val(),
                 }
                 Action('@Url.Action("_ChangeRoleFun")', 'POST', formData, paramsLoadData)
                 myModal.$modal.modal('hide')
             })

        });


        function Update(id) {
            loadModal('CẬP NHẬT', '@Url.Action("_Update_View")', myModalUpdate,id)
        }
        function SetRole(id) {
            loadModal('THAY ĐỔI QUYỀN', '@Url.Action("ChangeRole")', myModalChangeRole, id)
        }
        function ShowLog(id) {
            loadModal('Lịch sử bài viết', '@Url.Action("ShowLog")', myModalShowLog, { Id: id})
        };
        //Upload ảnh
        var isChossed = false
        var a = {}
        $(document).ready(function () {
            $('#myModalImage').on('change', '#image', function () {
                var selectedFile = this.files[0];
                a = selectedFile

                if (a !== null && a !== undefined) {
                    isChossed = true
                }
                else {
                    isChossed = false;

                }
            });
        });

        function Upload(id) {
            loadModal('CẬP NHẬT ẢNH NHÂN VIÊN', '@Url.Action("_Image_View")', myModalImage,id)
        }

        function LockUser(id) {
            if (confirm("Bạn có chắc muốn khóa người dùng này")) {
             Action('@Url.Action("_Lock_User")', 'POST', { Id: id }, paramsLoadData)
            }
        }

        function UnLockUser(id) {
             Action('@Url.Action("_UnLock_User")', 'POST', { Id: id }, paramsLoadData)
        }
        function Delete(id) {
               if (confirm("Bạn có chắc muốn xóa tài khoản này")) {
            Action('@Url.Action("_Delete")', 'POST', { Id: id }, paramsLoadData)
            }

        }
    </script>
}