﻿
@{
    var user = ViewBag.data as ToolsApp.EntityFramework.User;
}

<div class="row">
    <div class="col-md-12">
        <div class="card mb-3">
            <div class="card-body info">
                <div class="row">
                    <div class="col-sm-11">
                        <h4 class="mb-4 ">Thông tin cơ bản</h4>
                    </div>
                    <div class="col-sm-1">
                        <button type="button" onclick="EditInfo('info')" class="btn-shadow btn btn-info">
                            <span class="btn-icon-wrapper pr-2 opacity-7">
                                <i class="fa-solid fa-pen" style="color: #fefbfb;"></i>
                            </span>
                            Cập nhật
                        </button>
                    </div>

                </div>
                <form id="thongtincoban" action="Post">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-sm-2">
                                    <h6 class="mb-0">Tên đầy đủ</h6>
                                </div>
                                <div class="col-md-10 col-sm-12 edit">
                                    <input value="@user.hoVaTen" class="form-control"
                                           type="text" id="Fullname" name="Fullname">
                                </div>
                                <div class="col-sm-10 text-secondary show">
                                    @user.hoVaTen
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-2">
                                    <h6 class="mb-0">Ngày sinh</h6>
                                </div>
                                <div class="col-md-10 col-sm-12 edit">
                                    <input value="@user.ngaySinh" class="form-control" type="date" id="ngaySinh" name="ngaySinh">
                                </div>
                                <div class="col-sm-10 text-secondary show">
                                    @user.ngaySinh
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-2">
                                    <h6 class="mb-0">Nguyên quán</h6>
                                </div>
                                <div class="col-md-10 col-sm-12 edit">
                                    <input value="@user.nguyenQuan" class="form-control " type="text" id="nguyenQuan" name="nguyenQuan">

                                </div>
                                <div class="col-sm-10 text-secondary show">
                                    @user.nguyenQuan
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-2">
                                    <h6 class="mb-0">Địa chỉ tạm trú</h6>
                                </div>
                                <div class="col-md-10 col-sm-12 edit">
                                    <input value="@user.dcTamTru" class="form-control " type="text" id="dcTamTru" name="dcTamTru">
                                </div>
                                <div class="col-sm-10 text-secondary show">
                                    @user.dcTamTru
                                </div>
                            </div>
                            <hr>

                            <div class="row">
                                <div class="col-sm-2">
                                    <h6 class="mb-0">Địa chỉ thường trú</h6>
                                </div>
                                <div class="col-md-10 col-sm-12 edit">
                                    <input value="@user.dcThuongTru" class="form-control " type="text" id="dcThuongTru" name="dcThuongTru">
                                </div>
                                <div class="col-sm-10 text-secondary show">
                                    @user.dcThuongTru
                                </div>
                            </div>
                            <hr>

                        </div>
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-sm-2">
                                    <h6 class="mb-0">Giới tính</h6>
                                </div>
                                <div class="col-sm-9 edit">
                                    <select id="gioiTinh" name="gioiTinh">
                                        <option value="true" @if (user.gioiTinh == true) { <text> selected</text> }>Nam</option>
                                        <option value="false" @if (user.gioiTinh == false) { <text> selected</text> }>Nữ</option>
                                    </select>
                                </div>
                                <div class="col-sm-10 text-secondary show">
                                    @(user.gioiTinh == null?"": user.gioiTinh == true?"Nam":user.gioiTinh == false? "Nữ":"")
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-2">
                                    <h6 class="mb-0">MST cá nhân (Nếu có)</h6>
                                </div>
                                <div class="col-md-10 col-sm-12 edit">
                                    <input value="@user.mstCaNhan" class="form-control " type="text" id="mstCaNhan" name="mstCaNhan">
                                </div>
                                <div class="col-sm-10 text-secondary show">
                                    @user.mstCaNhan
                                </div>
                            </div>
                            <hr>

                            <div class="row">
                                <div class="col-sm-2">
                                    <h6 class="mb-0">Dân tộc</h6>
                                </div>
                                <div class="col-md-10 col-sm-12 edit">
                                    <input value="@user.danToc" class="form-control " type="text" id="danToc" name="danToc">
                                </div>
                                <div class="col-sm-10 text-secondary show">
                                    @user.danToc
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-2">
                                    <h6 class="mb-0">Trình độ học vấn</h6>
                                </div>
                                <div class="col-md-10 col-sm-12 edit">
                                    <input value="@user.tringDoVanHoa" class="form-control " type="text" id="tringDoVanHoa" name="tringDoVanHoa">
                                </div>
                                <div class="col-sm-10 text-secondary show">
                                    @user.tringDoVanHoa
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-2">
                                    <h6 class="mb-0">Đang thử việc</h6>
                                </div>
                                <div class="col-sm-9 edit">
                                    <select id="dangThuViec" name="dangThuViec">
                                        <option value="true" @if (user.dangThuViec == true) { <text> selected</text> }>Có</option>
                                        <option value="false" @if (user.dangThuViec == false) { <text> selected</text> }>Không</option>
                                    </select>
                                </div>
                                <div class="col-sm-10 text-secondary show">
                                    @(user.dangThuViec == null?"": user.dangThuViec == true?"Có":user.dangThuViec == false? "Không":"")
                                </div>
                            </div>
                            <hr>
                            <div class="button-group">
                                <button type="button" onclick="SaveInfo()" class="btn-shadow btn-save btn btn-info btn-success ">
                                    <span class="btn-icon-wrapper pr-2 opacity-7">
                                        <i class="fa fa-save"></i>
                                    </span>
                                    Lưu
                                </button>
                                <button type="button" onclick="Cancel('info')" style="margin-left:20px" class="btn-shadow btn-cancel btn btn-info btn-danger">
                                    <span class="btn-icon-wrapper pr-2 opacity-7">

                                        <i class="fa fa-close"></i>
                                    </span>
                                    Hủy
                                </button>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("select").each(function () {
            $(this).select2()
        })
    });
  
</script>