﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var user = ViewBag.user as ToolsApp.EntityFramework.User;

}

<input id="timeWorking" value="@user.thoiGianLamViec" style="display:none" />
<input id="username" value="@user.hoVaTen" style="display:none" />
<input id="Id" value="@user.Id" style="display:none" />
<div class="container">
    <div class="main-body">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img id="imageAvatar" src="@(!string.IsNullOrEmpty(user.anhDaiDien) ? Url.Content(user.anhDaiDien) : Url.Content("~/Content/images/noImage.png"))" class="rounded-circle p-1 bg-primary" width="200" height="200" style="object-fit:cover">
                            <div class="mt-3">
                                <h4>@user.hoVaTen</h4>
                                <p class="text-secondary mb-1"></p>
                                <p id="timeWorkingShow" class="text-muted font-size-sm">@user.thoiGianLamViec</p>
                                <button class="btn btn-primary" onclick="UploadAvatarModal('@user.Id')">Cập nhật Avatar</button>
                            </div>
                        </div>
                        <hr class="my-4">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mt-4 table-body-ThongTinCoBan table-responsive">

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 mt-4 table-body-ThongTinLienHe table-responsive">

        </div>
        <div class="col-md-6 mt-4 table-body-ThongTinCaNhan table-responsive">

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card mb-3">
                <div class="card-body job">
                    <div class="row">
                        <div class="col-sm-3">
                            <h4 class="mb-4" style="color:orangered">Chữ ký </h4>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="text-editor">
                                <textarea name="content" id="editor" style="width:100%">@user.chuKyUser</textarea>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

</div>

<div class="modal fade" id="myModalImage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content custom-modal-css">
            @using (Html.BeginForm(null, null, FormMethod.Get, new { name = "frm", id = "frm", enctype = "multipart/form-data" }))
            {

                <div class="modal-header custom-modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold" id="myModalImageTitle"></h4>
                    <button type="button" style="color: white" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-3">
                    <div id="myModalImageContent">
                    </div>

                </div>
                <div class="modal-footer modal-custom-footer footer d-flex ">
                    <button type="button" onclick="UploadImage('@user.Id')" id="btSave" class="btn btn-sm btn-success"><i class="fa fa-save"></i>&nbsp;Cập nhật</button>
                    <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal"><i class="fa fa-close"></i>&nbsp;Đóng</button>
                </div>
            }

        </div>
    </div>
</div>

<div class="modal fade" id="myModalAvatar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content custom-modal-css">
            @using (Html.BeginForm(null, null, FormMethod.Get, new { name = "frm", id = "frm", enctype = "multipart/form-data" }))
            {

                <div class="modal-header custom-modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold" id="myModalAvatarTitle"></h4>
                    <button type="button" style="color: white" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-3">
                    <div id="myModalAvatarContent">
                    </div>

                </div>
                <div class="modal-footer modal-custom-footer footer d-flex ">
                    <button type="button" onclick="UploadAvatar('@user.Id')" id="btSave" class="btn btn-sm btn-success"><i class="fa fa-save"></i>&nbsp;Cập nhật</button>
                    <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal"><i class="fa fa-close"></i>&nbsp;Đóng</button>
                </div>
            }

        </div>
    </div>
</div>
<div class="modal fade" id="myModalCCCD" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content custom-modal-css">
            @using (Html.BeginForm(null, null, FormMethod.Get, new { name = "frm", id = "frm", enctype = "multipart/form-data" }))
            {

                <div class="modal-header custom-modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold" id="myModalCCCDTitle"></h4>
                    <button type="button" style="color: white" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-3">
                    <div id="myModalCCCDContent">
                    </div>

                </div>
                <div class="modal-footer modal-custom-footer footer d-flex">
                    <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal"><i class="fa fa-close"></i>&nbsp;Đóng</button>
                </div>
            }

        </div>
    </div>
</div>

<script type="module">
    import {
        ClassicEditor,
        Essentials,
        Bold,
        Italic,
        Font,
        Paragraph,
        Alignment,
        Link,
        List
    } from 'ckeditor5';

        //Lưu chữ ký
    const saveChuKy = debounce((data) => {
            var id = $("#Id").val()
            $.ajax({
                url: '@Url.Action("saveChuKy")',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ content: data, Id:id }),
                success: function (response) {
                    console.log('Data sent successfully', response);
                },
                error: function (error) {
                    console.error('Error sending data', error);
                }
            });
   }, 2000);

    ClassicEditor
        .create(document.querySelector('#editor'), {
            plugins: [Essentials, Bold, Italic, Font, Paragraph, Alignment, Link, List],
            toolbar: {
                items: [
                    'undo', 'redo', '|', 'bold', 'italic', '|',
                    'fontSize', 'fontFamily', 'fontColor', 'fontBackgroundColor', '|',
                    'alignment', '|',
                    'numberedList', 'bulletedList', '|',
                    'link','|','insertTable', 'blockQuote', 'mediaEmbed'
                ]
            },
            @*editor: {
                height: '600px'
            }*@
        })
        .then(editor => {
            editor.editing.view.change(writer => {
                writer.setStyle('height', '600px', editor.editing.view.document.getRoot());
            });
            editor.model.document.on('change:data', () => {
                const data = editor.getData();
                saveChuKy(data);
            });
        })
        .catch(notify("Không thể tải thư viện Editor"));
</script>
@section scripts {
    <script>
        $(document).ready(function () {
            $('#codeBank').select2();
            loadThongTinCoBan()
            loadThongTinCaNhan();
            loadThongTinLienHe()
            var dateString = $('#timeWorking').val();
            var dateObj = new Date(dateString);
            var formattedDate = dateObj.toLocaleDateString();
            $("#timeWorkingShow").html("Ngày vào làm" + " " + formattedDate)
        });
        var myModalImage = {
            $modal: $('#myModalImage'),
            $myModalContent: $("#myModalImageContent"),
            $myModalTitle: $("#myModalImageTitle")
        }
        var myModalAvatar = {
            $modal: $('#myModalAvatar'),
            $myModalContent: $("#myModalAvatarContent"),
            $myModalTitle: $("#myModalAvatarTitle")
        }
        var myModalCCCD = {
            $modal: $('#myModalCCCD'),
            $myModalContent: $("#myModalCCCDContent"),
            $myModalTitle: $("#myModalCCCDTitle")
        }
        function loadThongTinCoBan() {
            var Id = $("#Id").val();
            console.log(Id)
            try {
                $.ajax({
                    url: '@Url.Action("ThongTinCoBan_View")',
                    timeout: 2000000,
                    data: {
                        Id: Id
                    },
                    success: function (response) {
                        $('.table-body-ThongTinCoBan').html(response);
                    },
                    error: function (message) {
                        $(".divLoading").removeClass("loading");
                    }
                });
            } catch (e) {
            }
        }
        function loadThongTinCaNhan() {
            var Id = $("#Id").val();
            console.log(Id)

            try {
                $.ajax({
                    url: '@Url.Action("ThôngTinCaNhan_View")',
                    timeout: 2000000,
                    data: {
                        Id: Id
                    },
                    success: function (response) {
                        $('.table-body-ThongTinCaNhan').html(response);
                    },
                    error: function (message) {
                        $(".divLoading").removeClass("loading");
                    }
                });
            } catch (e) {
            }
        }
        function loadThongTinLienHe() {
            var Id = $("#Id").val();
            try {
                $.ajax({
                    url: '@Url.Action("ThongTinLienHe_View")',
                    timeout: 2000000,
                    data: {
                        Id: Id
                    },
                    success: function (response) {
                        $('.table-body-ThongTinLienHe').html(response);
                    },
                    error: function (message) {
                        $(".divLoading").removeClass("loading");
                    }
                });
            } catch (e) {

            }
        }
    function UploadAvatarModal(id) {
        loadModal('CẬP NHẬT ẢNH ĐẠI DIỆN', '@Url.Action("_Image_Avatar_View")', myModalAvatar,id)
        }
    function Upload(id) {
         loadModal('CẬP NHẬT CCCD/CMND', '@Url.Action("_Image_View")', myModalImage,id)
        }
        function ViewCCCD(id) {
        loadModal('CĂN CƯỚC CÔNG DÂN / CHỨNG MÌNH NHÂN DÂN', '@Url.Action("_ViewCCCD")', myModalCCCD,id)
        }

    @*function loadImage() {
        var username = $('#username').val().trim()
        var token = $('#token').val();
        var nameImage = $('#imageName').val().trim();
        if (nameImage) {
            $.ajax({
                url: 'https://api.hoanglongsecurity.info/api/Authenticate/GetImage?nameImage=' + nameImage + '&username=' + username,
                type: 'GET',
                data: {},
                processData: false,
                contentType: false,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("Authorization", "Bearer " + token);
                },
                success: function (response) {
                    $("#imageAvatar").attr("src", response.data);
                },
                error: function (response) {
                    if (response.status == 'Failed') {
                        notify(response.message, "error");
                    }
                }
            })
        }
    }*@

    var isChossedAvatar = false
        var a = {}
        $(document).ready(function () {
            $('#myModalAvatar').on('change', '#image', function () {
                var selectedFile = this.files[0];
                a = selectedFile
                if (a !== null && a !== undefined) {
                    isChossedAvatar = true
                }
                else {
                    isChossedAvatar = false;

                }
                console.log(a)
            });
        });

        function UploadAvatar(Id) {

            var formData = new FormData();
            formData.append('file', a);
            formData.append("id", Id);
            if (isChossedAvatar == false) {
                notify("Vui lòng chọn hình ảnh")
            }
            else {
                $.ajax({
                    url: '@Url.Action("_SaveImageAvatar")',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        if (response.success) {
                            notify("Cập nhật ảnh đại diện thành công", "success")
                        }
                        $('#myModalAvatar').modal('hide');
                    },
                    error: function (response) {
                        if (response.status == 'Failed') {
                            notify(response.message, "error");
                        }
                    }
                })
            }

        }

    function handleShowHide(parentClass) {
        $(`.${parentClass} .edit`).css("display", "none");
        $(`.${parentClass} .show`).css("display", "block");
        $(`.${parentClass} .btn-cancel`).css("display", "none");
        $(`.${parentClass} .btn-save`).css("display", "none");
    }

    function EditInfo(parentClass) {
        $(`.${parentClass} .edit`).css("display", "block");
        $(`.${parentClass} .show`).css("display", "none");
        $(`.${parentClass} .btn-cancel`).css("display", "block");
        $(`.${parentClass} .btn-save`).css("display", "block");
    }
    function Cancel(parentClass) {
        $(`.${parentClass} .edit`).css("display", "none");
        $(`.${parentClass} .show`).css("display", "block");
        $(`.${parentClass} .btn-cancel`).css("display", "none");
        $(`.${parentClass} .btn-save`).css("display", "none");
    }
    function SaveInfo() {
        var formData = {
            Id: $('#Id').val(),
            HoVaTen: $('#Fullname').val().trim(),
            NgaySinh: $('#ngaySinh').val().trim(),
            NguyenQuan: $('#nguyenQuan').val().trim(),
            DcTamTru: $('#dcTamTru').val().trim(),
            DcThuongTru: $('#dcThuongTru').val().trim(),
            GioiTinh: $('#gioiTinh').val(),
            MstCaNhan: $('#mstCaNhan').val().trim(),
            DanToc: $('#danToc').val().trim(),
            TringDoVanHoa: $('#tringDoVanHoa').val().trim(),
            DangThuViec: $('#dangThuViec').val().trim(),
        }
        ActionFunc('@Url.Action("_SaveInfo")', 'POST', formData, "", function (response) {
            if (response) {
                loadThongTinCoBan();
            }
            else {
                notify("Lỗi khi gửi request")
            }
        })

        handleShowHide('info');
    }
       function SaveInfoContact() {
           var formData = {
               Id: $('#Id').val(),
               SoDienThoai: $('#soDienThoai').val().trim(),
               SoDienThoaiKhac: $('#soDienThoaiKhac').val().trim(),
               Email: $('#Email').val().trim(),
               Zalo: $('#zalo').val().trim(),
           }
           if (formData.SoDienThoai.length > 0 && formData.SoDienThoai.length !== 10) {
               notify('Số Zalo không hợp lệ');
            }
            else if (formData.SoDienThoaiKhac.length > 0 && formData.SoDienThoaiKhac.length !== 10) {
                notify('Số điện thoại chưa hợp lệ');
            }
            else if (!isEmail(formData.Email)) {
                notify("Email chưa hợp lệ");
            }
           else if (formData.Zalo.length > 0 && formData.Zalo.length !== 10) {
                notify('Số Zalo không hợp lệ');
            }
            else {
                ActionFunc('@Url.Action("_SaveInfoContact")', 'POST', formData, "", function (response) {
                    if (response) {
                        loadThongTinLienHe();
                    }
                    else {
                        notify("Lỗi khi gửi request")
                    }
                })
                handleShowHide('contact');

            }
        }
        function SaveInfoPersonal() {
            var formData = {
                Id: $('#Id').val(),
                CCCD: $('#CCCD').val().trim(),
                passPortNum: $('#passPortNum').val().trim(),
                codeBank: $('#codeBank').val().trim(),
                numBank: $('#numBank').val().trim(),
                nameAccountBank: $('#nameAccountBank').val().trim(),
            }
            ActionFunc('@Url.Action("_SaveInfoPersonal")', 'POST', formData, "", function (response) {
                if (response) {
                    console.log(response)
                    loadThongTinCaNhan();
                }
                else {
                    notify("Lỗi khi gửi request")
                }
            })
            handleShowHide('personal')
          }
    </script>
}
