
@{
    ViewBag.Title = "GetList";
    var data = ViewBag.danhSachBaiViet as List<ToolsApp.EntityFramework.BaiViet>;
    var ketCaus = ViewBag.ketCaus as List<ToolsApp.EntityFramework.KetCau>;

}
@functions { public string GetHouseNumber(string diaChiTaiSan)
    {
        diaChiTaiSan = diaChiTaiSan.Trim();
        if (string.IsNullOrWhiteSpace(diaChiTaiSan))
        {
            return string.Empty;
        }
        var parts = diaChiTaiSan.Split(' ');
        return parts.Length > 0 ? parts[0] : string.Empty;
    }

    public string GetStreetName(string diaChiTaiSan)
    {
        if (string.IsNullOrWhiteSpace(diaChiTaiSan))
        {
            return string.Empty;
        }
        var parts = diaChiTaiSan.Split(' ');
        return parts.Length > 1 ? string.Join(" ", parts.Skip(1)) : string.Empty;
    } }
<style>
    hr {
        margin: 0;
    }

    span {
        padding: 0 2px
    }

    .editable:hover::after {
        display: block;
    }

    .btn-custom {
        padding: 3px !important
    }

    .func-menu a {
        font-size: 6px !important
    }

    .func-menu i {
        font-size: 6px !important
    }

    .showHomeNumber {
        cursor: pointer;
    }
</style>
<table id="myTable" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th></th>
            <th>
                Ghi chú
            </th>
            <th>Khách hàng</th>
            <th>Tình trạng</th>
            <th>Địa chỉ</th>
            <th>Giá bán</th>
            <th>Thông tin nhà</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{ var STT = 1; }
        @{
            if (data != null)
            {
                foreach (var item in data)
                {

                    <tr>
                        <td>
                            @STT
                        </td>

                        <td>
                            <div class="d-flex flex-column">
                                <div>

                                    @if (item.trangThaiGoiDien == true)
                                    {

                                        <span class="bg-danger text-white font-weight-bold rounded">Đã gọi</span>
                                        <br />

                                        <i>Lúc: @item.thoiGianGoiDien</i>
                                        <div class="editable" data-id="@item.id">
                                            <span class="font-weight-bold">Ghi chú:</span>
                                            <i class="displayValue"> @item.note</i>
                                            <input type="text" name="note" value="@item.note" class="quickEdit displayN w-100" />
                                        </div>
                                    }

                                    else
                                    {

                                        <div class="call-container">
                                            <button class="call-button btn btn-success text-white font-weight-bold">Gọi điện</button>
                                            <div class="call-confirm mt-2 displayN">
                                                <i class="mt-2">Nhập ghi chú:</i>
                                                <textarea id="note-@item.id" rows="1" cols="10" name="note" data-id="@item.id" class="form-control"></textarea>
                                                <button onclick="saveNote(@item.id)" class="btn btn-success p-1 mt-1 float-right">Lưu</button>
                                            </div>
                                        </div>
                                    }
                                </div>



                            </div>

                        </td>
                        <td>
                            <div class="d-flex flex-column">
                                <div class="editable" data-id="@item.id">
                                    <i class="fas fa-user"></i>
                                    <span class="displayValue"> @(string.IsNullOrWhiteSpace(item.tenKh) ? "-" : item.tenKh)</span>
                                    <input type="text" name="tenKh" value="@item.tenKh" class="quickEdit displayN w-80" />
                                </div>
                                <div class="editable" data-id="@item.id">
                                    <i class="fas fa-phone"></i>
                                    <span class="displayValue">@(item.sdtKh != null ? item.sdtKh : 0)</span>
                                    <input type="number" name="sdtKh" value="@item.sdtKh" class="quickEdit displayN w-80" />
                                </div>
                                <div class="editable" data-id="@item.id">
                                    <i class="fas fa-mail-bulk"></i>
                                    <span class="displayValue"> @(string.IsNullOrWhiteSpace(item.emailKh) ? "-" : item.emailKh)</span>
                                    <input type="email" name="emailKh" value="@item.emailKh" class="quickEdit displayN w-80" />
                                </div>
                            </div>

                        </td>
                        <td>
                            <div class="editable d-inline" data-id="@item.id">
                                <span class="bg-danger text-white font-weight-bold rounded displayValue">Đã bán</span>
                                <select class=" chosen-select quickEdit displayN quickSelect" name="trangThai" aria-label=".form-select-md">
                                    <option value="">Đã giao dich</option>
                                    <option value="">Đang giao dịch</option>
                                    <option value="">Ngưng bán</option>
                                    <option value="">Đã cho thuê không bán nữa</option>
                                </select>
                            </div>

                        </td>
                        <td>
                            <div class="editable" data-id="@item.id" data-house-number="@GetHouseNumber(item.diaChiTaiSan)" data-street-name="@GetStreetName(item.diaChiTaiSan)">
                                <i class="fa-solid fa-house"></i>
                                <a class="showHomeNumber" href="javascript:void(0);">Số nhà</a>
                                <span class="displayValue">
                                    @(string.IsNullOrWhiteSpace(item.diaChiTaiSan) ? "Địa chỉ" : GetStreetName(item.diaChiTaiSan))
                                </span>
                                <span class="houseNumber displayN" style="display:none;">
                                    @GetHouseNumber(item.diaChiTaiSan)
                                </span>
                            </div>
                        </td>
                        <td>
                            <div class="">
                                <div class="editable" data-id="@item.id">
                                    @if (item.idNhomBaiViet == 1 || item.idNhomBaiViet == 3)
                                    {
                                        <span class="displayValue text-success font-weight-bold">@item.giaBan </span>
                                        <input type="text" name="giaBan" min=0.01 step=0.01 onkeypress="return event.charCode != 45" value="@item.giaBan" class="quickEdit displayN" />
                                        <span class="text-success font-weight-bold">tỷ</span>
                                    }
                                    else
                                    {

                                        <span class="displayValue text-success font-weight-bold">@item.giaBan</span>
                                        <input type="text" name="giaBan" value="@item.giaBan" class="quickEdit displayN" />
                                        <span class="text-success font-weight-bold">triệu</span>
                                    }
                                </div>
                            </div>
                            <hr />
                            <div class="editable" data-id="@item.id">
                                <i class="displayValue">@(string.IsNullOrWhiteSpace(item.moTaGia) ? "Mô tả giá" : item.moTaGia)</i>
                                <input type="text" name="moTaGia" value="@item.moTaGia" placeholder="Nhập mô tả" class="quickEdit displayN w-100" />
                            </div>

                        </td>
                        <td>
                            <div class="d-flex flex-column">
                                <div class="d-flex justify-content-around">
                                    <div class="editable" data-id="@item.id">
                                        <i class="fa-solid fa-arrows-left-right"></i>
                                        <span class="displayValue">@item.chieuNgang</span>
                                        <input type="text" min=0.01 step=0.01 onkeypress="return event.charCode != 45" id="chieuNgang" name="chieuNgang" value="@item.chieuNgang" class="quickEdit displayN" />
                                        <span>m</span>

                                    </div>
                                    <div class="editable" data-id="@item.id">
                                        <i class="fa-solid fa-arrows-up-down"></i>
                                        <span class="displayValue">@item.chieuDai</span>
                                        <input type="number" min=0.01 step=0.01 onkeypress="return event.charCode != 45" id="chieuDai" name="chieuDai" value="@item.chieuDai" class="quickEdit displayN" />
                                        <span>m</span>

                                    </div>
                                    <div class="">
                                        <div class="editable d-inline" data-id="@item.id">
                                            <i class="fa-solid fa-compass"></i>
                                            <span class="displayValue"> @item.huong</span>
                                            <select class=" chosen-select quickEdit displayN quickSelect" id="huong" name="huong" aria-label=".form-select-md">
                                                <option value="Bắc">Bắc</option>
                                                <option value="Đông Bắc">Đông Bắc</option>
                                                <option value="Đông">Đông</option>
                                                <option value="Đông Nam">Đông Nam</option>
                                                <option value="Nam">Nam</option>
                                                <option value="Tây Nam">Tây Nam</option>
                                                <option value="Tây">Tây</option>
                                                <option value="Tây Bắc">Tây Bắc</option>
                                            </select>
                                        </div>

                                    </div>
                                    <div class="">

                                        @if (item.KetCau != null)
                                        {

                                            <div class="editable d-inline" data-id="@item.id">
                                                <i class="fa-solid fa-city"></i>
                                                <span class="displayValue"> @item.KetCau.tenKetCau</span>
                                                <select class="chosen-select quickEdit displayN quickSelect" id="idKetCau" name="idKetCau" aria-label=".form-select-md">
                                                    @foreach (var kc in ketCaus)
                                                    {
                                                        <option value="@kc.id">@kc.tenKetCau</option>
                                                    }

                                                    }
                                                </select>
                                            </div>
                                            <div class="editable" data-id="@item.id">
                                                <i class="fa-solid fa-building"></i>
                                                <i class="displayValue">@item.motaKetCau</i> -
                                                <span>Số phòng</span> :<span>1-2 phòng</span>
                                                <textarea name="motaKetCau" class="quickEdit form-control quickTextarea displayN">@item.motaKetCau</textarea>
                                            </div>
                                        }
                                    </div>
                                </div>
                                <div class="d-flex justify-content-around mt-1">
                                    <div class="editable" data-id="@item.id">
                                        <span>DT đất:</span>
                                        <i class="font-weight-bold displayValue">
                                            @item.dienTichDat
                                        </i>
                                        <input type="number" id="dienTichDat" min=0.01 step=0.01 onkeypress="return event.charCode != 45" name="dienTichDat" value="@item.dienTichDat" class="quickEdit displayN" /> m<sup>2</sup>

                                    </div>
                                    <div class="editable" data-id="@item.id">
                                        <span>DT sử dụng:</span>
                                        <i class="font-weight-bold displayValue">
                                            @item.dienTichSuDung
                                        </i>
                                        <input type="number" min=0.01 step=0.01 onkeypress="return event.charCode != 45" id="dienTichSuDung" name="dienTichSuDung" value="@item.dienTichSuDung" class="quickEdit displayN" /> m<sup>2</sup>
                                    </div>
                                    <div class="editable" data-id="@item.id">
                                        <span>DT xây dựng:</span>
                                        <i class="font-weight-bold displayValue">
                                            @item.dienTichXayDung
                                        </i>
                                        <input type="number" min=0.01 step=0.01 onkeypress="return event.charCode != 45" id="dienTichXayDung" name="dienTichXayDung" value="@item.dienTichXayDung" class="quickEdit displayN" /> m<sup>2</sup>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>

                            <a onclick="Share('@item.id')" class="btn btn-custom text-white btn-warning">
                                <i class="fas fa-share"></i> Share
                            </a>
                            <a onclick="ShowImages('@item.id')" class="btn btn-custom btn-success">
                                <i class="fas fa-image"></i> Ảnh
                            </a>
                            <a href='@Url.Action("Edit", new { id = item.id })' target="_blank" class="btn btn-custom btn-secondary">
                                <i class="far fa-edit"></i> Sửa
                            </a>
                            <a onclick="Delete('@item.id')" class="btn btn-custom btn-danger">
                                <i class="far fa-trash-alt"></i> Xóa
                            </a>
                        </td>
                    </tr>

                    STT++;
                }
            }

        }

    </tbody>
</table>
<div id="image-gallery" style="display:none;"></div>

<!-- Modal -->
<div class="modal fade" id="callConfirmModel" tabindex="-1" aria-labelledby="callConfirmModel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-primary">Xác nhận đã gọi</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Nội dung ghi chú: <span id="noteContent"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" id="saveNoteConfirm" class="btn btn-primary">Xác nhận</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('.showHomeNumber').click(function () {
            var parent = $(this).closest('.editable');
            var houseNumber = parent.data('house-number');
            var streetName = parent.data('street-name');
            $(this).hide()
            if (houseNumber && streetName) {
                parent.find('.displayValue').text(houseNumber + " " + streetName);
            } else if (!houseNumber && streetName) {
                parent.find('.displayValue').text(streetName);
            } else if (houseNumber && !streetName) {
                parent.find('.displayValue').text(houseNumber);
            } else {
                parent.find('.displayValue').text("Chưa có thông tin");
            }
        });
        //chinh sửa nhanh
        $('.call-button').on('click', function () {
            $(this).closest('.call-container').find('.call-confirm').toggle();
        });
    })
        function saveNote(itemId) {
            $('#callConfirmModel').modal('show');
            var noteValue = $('#note-' + itemId).val();
            console.log(noteValue)
            var noteContent = $("#noteContent");
            console.log(noteContent)
            noteContent.text(noteValue)
            $("#saveNoteConfirm").on('click', function () {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("SaveNote")',
                    data: {
                        id: itemId,
                        note: noteValue
                    },
                    success: function (response) {
                        loadData(...paramsLoadData);
                        $(".modal-backdrop").hide()
                    },
                    error: function (error) {
                        alert('Error saving note');

                    }
                });
            })
        }

    function ShowImages(id) {
        $.ajax({
            url: '@Url.Action("ShowImages")',
            type: 'POST',
            data: { id: id },
            success: function (response) {
                if (response.success == true) {
                    if (response.response.length === 0) {
                        notify("Bài viết này không có hình ảnh")
                        return;
                    }
                    var images = response.response;
                    console.log(images)
                    var galleryDiv = $('#image-gallery');
                    galleryDiv.empty();
                    $.each(images, function (index, image) {
                        console.log(image)
                        var imgElement = `<a href="${image.UrlPath}" data-fancybox="gallery"><img src="${image.UrlPath}" class="upload_img p-1" alt="Ảnh bài viết"/></a>`;
                        galleryDiv.append(imgElement);
                    });
                    $('[data-fancybox="gallery"]').fancybox({
                        loop: true,
                        buttons: [
                            "zoom",
                            "slideShow",
                            "thumbs",
                            "close"
                        ]
                    });
                    $('[data-fancybox="gallery"]').eq(0).trigger('click');
                } else {
                    alert('Không thể tải hình ảnh.');
                }
            },
            error: function() {
                alert('Lỗi khi gửi yêu cầu.');
            }
        });
    }
</script>