
@{
    ViewBag.Title = "GetList";
    var data = ViewBag.danhSachBaiViet as List<ToolsApp.EntityFramework.BaiViet>;
    var ketCaus = ViewBag.ketCaus as List<ToolsApp.EntityFramework.KetCau>;
    var tinhTrangs = ViewBag.tinhTrang as List<ToolsApp.EntityFramework.Config>;

    var idNhomBaiViet = ViewData["id"] != null ? ViewData["id"] : "null";
    var page = ViewBag.page != null ? ViewBag.page : 1;
    var totalPages = ViewBag.totalPages != null ? ViewBag.totalPages : 1;
    var pageWindow = 2;
}
@functions { public string GetHouseNumber(string diaChiTaiSan)
    {


        if (string.IsNullOrWhiteSpace(diaChiTaiSan))
        {
            return string.Empty;
        }
        diaChiTaiSan = diaChiTaiSan.Trim();
        var parts = diaChiTaiSan.Split(' ');
        return parts.Length > 0 ? parts[0] : string.Empty;
    }

    public string GetStreetName(string diaChiTaiSan)
    {

        if (string.IsNullOrWhiteSpace(diaChiTaiSan))
        {
            return string.Empty;
        }
        diaChiTaiSan = diaChiTaiSan.Trim();
        var parts = diaChiTaiSan.Split(' ');
        return parts.Length > 1 ? string.Join(" ", parts.Skip(1)) : string.Empty;
    } }
<style>
    hr {
        margin: 0;
    }

    span {
        padding: 0 2px
    }

    .editable:hover::after {
        display: block;
    }

    .btn-custom {
        padding: 3px !important;
        margin-top: 4px;
        margin-left: 4px
    
    }

    .func-menu a {
        font-size: 6px !important
    }

    .func-menu i {
        font-size: 6px !important
    }

    .showHomeNumber {
        cursor: pointer;
    }
</style>
<table id="myTable" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Mã</th>
            <th>
                Ghi chú
            </th>
            <th>Khách hàng</th>
            <th>Tình trạng</th>
            <th>Địa chỉ</th>
            <th>Giá bán</th>
            <th>Thông tin nhà</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{ var STT = 1; }
        @{
            if (data != null)
            {
                foreach (var item in data)
                {

                    <tr>
                        <td>
                            @item.id
                        </td>

                        <td>
                            <div class="d-flex flex-column">
                                <div>

                                    @if (item.trangThaiGoiDien == true)
                                    {

                                        <span class="bg-danger text-white font-weight-bold rounded">Đã gọi</span>
                                        <br />

                                        <i>Lúc: @item.thoiGianGoiDien</i>
                                        <div class="editable" data-id="@item.id">
                                            <span class="font-weight-bold">Ghi chú:</span>
                                            <i class="displayValue"> @item.note</i>
                                            <input type="text" name="note" value="@item.note" class="quickEdit displayN w-100" />
                                        </div>
                                    }

                                    else
                                    {

                                        <div class="call-container">
                                            <button class="call-button btn btn-success text-white font-weight-bold">Gọi điện</button>
                                            <div class="call-confirm mt-2 displayN">
                                                <i class="mt-2">Nhập ghi chú:</i>
                                                <textarea id="note-@item.id" rows="1" cols="10" name="note" data-id="@item.id" class="form-control"></textarea>
                                                <button onclick="saveNote(@item.id)" class="btn btn-success p-1 mt-1 float-right">Lưu</button>
                                            </div>
                                        </div>
                                    }
                                </div>



                            </div>

                        </td>
                        <td>
                            <div class="d-flex flex-column">
                                <div class="editable" data-id="@item.id">
                                    <i class="fas fa-user"></i>
                                    <span class="displayValue"> @(string.IsNullOrWhiteSpace(item.tenKh) ? "-" : item.tenKh)</span>
                                </div>
                                <div class="editable" data-id="@item.id">
                                    <i class="fas fa-phone"></i>
                                    <a class="showPhoneNumber" data-id="@item.id" href="javascript:void(0);">Lấy số </a>
                                    <span class="displayValue displayN">@(item.sdtKh != null ? item.sdtKh : "")</span>
                                </div>
                                <div class="editable" data-id="@item.id">
                                    <i class="fas fa-mail-bulk"></i>
                                    <span class="displayValue"> @(string.IsNullOrWhiteSpace(item.emailKh) ? "-" : item.emailKh)</span>
                                </div>
                            </div>

                        </td>
                        <td>
                            <div class="editable d-inline" data-id="@item.id">
                                <span class="text-white font-weight-bold rounded displayValue p-1" style="background-color:@(tinhTrangs.FirstOrDefault(t => t.Id == item.tinhTrang)?.moTaChiTiet ?? "#6c757d"); font-size:12px">   @(tinhTrangs.FirstOrDefault(t => t.Id == item.tinhTrang)?.MoTa ?? "Chưa cập nhật")</span>
                                <select class=" chosen-select quickEditGetList displayN quickSelect" name="tinhTrang" aria-label=".form-select-md">
                                    @foreach (var item1 in tinhTrangs)
                                    {
                                        <option value="@item1.Id" @(item.tinhTrang == item1.Id ? "selected" : "")>@item1.MoTa</option>
                                    }
                                </select>
                            </div>

                        </td>
                        <td>
                            <div class="editable" data-id="@item.id" data-house-number="@GetHouseNumber(item.diaChiTaiSan)" data-street-name="@GetStreetName(item.diaChiTaiSan)">
                                <i class="fa-solid fa-house"></i>
                                <a class="showHomeNumber" data-id="@item.id" href="javascript:void(0);">Số nhà</a>
                                <span class="displayValue">
                                    @(string.IsNullOrWhiteSpace(item.diaChiTaiSan) ? "" : GetStreetName(item.diaChiTaiSan))
                                </span>
                                <span class="houseNumber displayN" style="display:none;">
                                    @GetHouseNumber(item.diaChiTaiSan)
                                </span>
                            </div>
                            <div class="editable" data-id="@item.id">
                                <span class="displayValue"> @(string.IsNullOrWhiteSpace(item.moTaViTri) ? "-" : item.moTaViTri)</span>

                            </div>
                        </td>
                        <td>
                            <div class="">
                                <div class="editable" data-id="@item.id">
                                    @if (item.idNhomBaiViet == 1 || item.idNhomBaiViet == 3)
                                    {
                                        <span class="displayValue text-success font-weight-bold">@item.giaBan </span>
                                        <span class="text-success font-weight-bold">tỷ</span>
                                    }
                                    else
                                    {

                                        <span class="displayValue text-success font-weight-bold">@item.giaBan</span>
                                        <span class="text-success font-weight-bold">triệu</span>
                                    }
                                </div>
                            </div>
                            <hr />
                            <div class="editable" data-id="@item.id">
                                <i class="displayValue">@(string.IsNullOrWhiteSpace(item.moTaGia) ? "-" : item.moTaGia)</i>
                            </div>

                        </td>
                        <td>
                            <div class="d-flex flex-column">
                                <div class="d-flex justify-content-around flex-wrap">
                                    <div class="editable" data-id="@item.id">
                                        <i class="fa-solid fa-arrows-left-right"></i>
                                        <span class="displayValue">@item.chieuNgang</span>
                                        <span>m</span>

                                    </div>
                                    <div class="editable" data-id="@item.id">
                                        <i class="fa-solid fa-arrows-up-down"></i>
                                        <span class="displayValue">@item.chieuDai</span>
                                        <span>m</span>

                                    </div>
                                    <div class="">
                                        <div class="editable d-inline" data-id="@item.id">
                                            <i class="fa-solid fa-compass"></i>
                                            <span class="displayValue"> @item.huong</span>
                                        </div>

                                    </div>
                                    <div class="">

                                        @if (item.KetCau != null)
                                        {

                                            <div class="editable d-inline" data-id="@item.id">
                                                <i class="fa-solid fa-city"></i>
                                                <span class="displayValue"> @item.KetCau.tenKetCau</span>
                                            </div>
                                            <div class="editable" data-id="@item.id">
                                                <i class="fa-solid fa-building"></i>
                                                <i class="displayValue">@item.motaKetCau</i> -
                                                <span>Số phòng</span> :<span>1-2 phòng</span>
                                            </div>
                                        }
                                    </div>
                                </div>
                                <div class="d-flex justify-content-around mt-1">
                                    <div class="editable" data-id="@item.id">
                                        <span>DT đất:</span>
                                        <i class="font-weight-bold displayValue">
                                            @item.dienTichDat
                                        </i>
                                    </div>
                                    <div class="editable" data-id="@item.id">
                                        <span>DT sử dụng:</span>
                                        <i class="font-weight-bold displayValue">
                                            @item.dienTichSuDung
                                        </i>
                                    </div>
                                    <div class="editable" data-id="@item.id">
                                        <span>DT xây dựng:</span>
                                        <i class="font-weight-bold displayValue">
                                            @item.dienTichXayDung
                                        </i>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="text-center d-flex flex-wrap">


                                <a onclick="Share('@item.id')" class="btn btn-custom text-white btn-info">
                                    <i class="fas fa-share"></i> Share
                                </a>
                                <a onclick="ShowImages('@item.id')" class="btn btn-custom btn-primary">
                                    <i class="fas fa-image"></i> Ảnh
                                </a>
                                <a onclick="ShowLog('@item.id')" class="btn btn-custom btn-warning">
                                    <i class="fa-solid fa-rectangle-list"></i> Log
                                </a>

                            </div>
                        </td>
                    </tr>

                    STT++;
                }
            }

        }

    </tbody>
</table>
@if (data.Count > 0)
{
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
            <li class="page-item @(page == 1 ? "disabled" : "")">
                <a class="page-link" onclick="changePage(@idNhomBaiViet, @(page - 1), @totalPages)">Trang trước</a>
            </li>
            @if (totalPages <= 7)
            {
                for (int i = 1; i <= totalPages; i++)
                {
                    <li class="page-item @(i == page ? "active" : "")">
                        <a class="page-link" onclick="loadList(@idNhomBaiViet, @i)">@i</a>
                    </li>
                }
            }
            else
            {
                <li class="page-item @(1 == page ? "active" : "")">
                    <a class="page-link" onclick="loadList(@idNhomBaiViet, 1)">1</a>
                </li>
                if (page > pageWindow + 2)
                {
                    <li class="page-item disabled">
                        <a class="page-link">...</a>
                    </li>
                }
                for (int i = Math.Max(2, page - pageWindow); i <= Math.Min(totalPages - 1, page + pageWindow); i++)
                {
                    <li class="page-item @(i == page ? "active" : "")">
                        <a class="page-link" onclick="loadList(@idNhomBaiViet, @i)">@i</a>
                    </li>
                }
                if (page < totalPages - pageWindow - 1)
                {
                    <li class="page-item disabled">
                        <a class="page-link">...</a>
                    </li>
                }
                <li class="page-item @(totalPages == page ? "active" : "")">
                    <a class="page-link" onclick="loadList(@idNhomBaiViet, @totalPages)">@totalPages</a>
                </li>
            }
            <li class="page-item @(page == totalPages ? "disabled" : "")">
                <a class="page-link" onclick="changePage(@idNhomBaiViet, @(page + 1), @totalPages)">Trang sau</a>
            </li>
        </ul>
    </nav>
}
<div id="image-gallery" style="display:none;"></div>


<script>
    $(document).ready(function () {
            $(document).on('click', '.showHomeNumber', function () {
            var parent = $(this).closest('.editable');
            var houseNumber = parent.data('house-number');
            var streetName = parent.data('street-name');
            var idBaiViet = $(this).data('id');
            $.ajax({
                    url: '@Url.Action("getSoNha")',
                    type: 'POST',
                    data: { id: idBaiViet},
                    success: function (data) {
                    },
                    error: function (xhr, status, error) {
                        console.error('Failed to clear session:', error);
                    }
            });
            $(this).hide()
            if (houseNumber && streetName) {
                parent.find('.displayValue').text(houseNumber + " " + streetName);
            } else if (!houseNumber && streetName) {
                parent.find('.displayValue').text(streetName);
            } else if (houseNumber && !streetName) {
                parent.find('.displayValue').text(houseNumber);
            } else {
                parent.find('.displayValue').text("Chưa có địa chỉ");
            }
            });
          $(document).on('click', '.showPhoneNumber', function () {
            var parent = $(this).closest('.editable');
            var displayValue = parent.find('.displayValue');
            var idBaiViet = $(this).data('id');
            $.ajax({
                    url: '@Url.Action("getPhoneNumber")',
                    type: 'POST',
                    data: { id: idBaiViet},
                    success: function (data) {
                    },
                    error: function (xhr, status, error) {
                        console.error('Failed to clear session:', error);
                    }
            });
              $(this).hide()
              displayValue.show()
        });
        //chinh sửa nhanh
        $('.call-button').on('click', function () {
            $(this).closest('.call-container').find('.call-confirm').toggle();
        });
    })
        function saveNote(itemId) {
            $('#callConfirmModel').modal('show');
            var noteValue = $('#note-' + itemId).val();
            console.log(noteValue)
            var noteContent = $("#noteContent");
            console.log(noteContent)
            noteContent.text(noteValue)
            $("#saveNoteConfirm").on('click', function () {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("SaveNote")',
                    data: {
                        id: itemId,
                        note: noteValue
                    },
                    success: function (response) {
                        loadData(...paramsLoadData);
                        $(".modal-backdrop").hide()
                    },
                    error: function (error) {
                        alert('Error saving note');

                    }
                });
            })
        }

  
</script>