
@{
    ViewBag.Title = "Quản lý rổ hàng";
    var user = ViewBag.user as ToolsApp.EntityFramework.User;
    var nhomBaiViets = ViewBag.nhomBaiViets as List<ToolsApp.EntityFramework.NhomBaiViet>;
    var ketCaus = ViewBag.ketCaus as List<ToolsApp.EntityFramework.KetCau>;
}
<style>
    .dropzone {
        border: dashed 4px #ddd !important;
        background-color: #f2f6fc;
        border-radius: 15px;
    }

        .dropzone .dropzone-container {
            padding: 2rem 0;
            width: 100%;
            height: 100%;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: #8c96a8;
            z-index: 20;
        }

        .dropzone .file-input {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            opacity: 0;
            visibility: hidden;
            cursor: pointer;
        }

    .file-icon {
        font-size: 60px;
    }

    .hr-sect {
        display: flex;
        flex-basis: 100%;
        align-items: center;
        margin: 8px 0px;
    }

        .hr-sect:before,
        .hr-sect:after {
            content: "";
            flex-grow: 1;
            background: #ddd;
            height: 1px;
            font-size: 0px;
            line-height: 0px;
            margin: 0px 8px;
        }

    .tab-getlist {
        cursor: pointer
    }
</style>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary border-no-color card-outline">

                    <div class="card-body pad">
                        <div class="row">
                            <div class="col-lg-12">
                                <form id="searchForm">
                                    <div class="row">
                                        <div class="col-md-2 col-sm-4">
                                            <div class="form-group">
                                                <label>Tên tài sản</label>
                                                <input class="form-control form-control-md" type="text" autocomplete="off" id="diaChiTaiSanSearch" name="DiaChiTaiSanSearch" />
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="col-md-12 ">Thành phố</label>
                                            <div class="col-md-12 col-sm-12 ten">
                                                <select class=" form-control chosen-select" style="width: 100%" id="idThanhPho" name="IdThanhPho" aria-label=".form-select-md">
                                                    <option value="">Vui lòng chọn thành phố</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label class="col-md-12 col-sm-12">Quận huyện  </label>
                                                <div class="col-md-12 col-sm-12 ten">
                                                    <select class="form-control chosen-select" style="width: 100%;" id="idQuanHuyen" name="IdQuanHuyen" aria-label=".form-select-md">
                                                        <option value="">Quận / Huyện</option>
                                                    </select>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label class="col-md-12 col-sm-12">Phường xã  </label>
                                                <div class="col-md-12 col-sm-12 ten">
                                                    <select class="form-control chosen-select" style="width: 100%;" id="idPhuongXa" name="IdPhuongXa" aria-label=".form-select-md">
                                                        <option value="">Phường / Xã</option>
                                                    </select>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>Vị trí</label>
                                                <select id="viTriSearch" name="ViTriSearch" class="form-control chosen-select" style="width: 100%;">
                                                    <option value="">Tất cả</option>
                                                    <option value="true">Mặt tiền</option>
                                                    <option value="false">Hẻm</option>

                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label class="col-md-12 col-sm-12">Hướng  </label>
                                                <div class="col-md-12 col-sm-12 ten">
                                                    <select class="form-control chosen-select" style="width: 100%;" id="huongSearch" name="HuongSearch" aria-label=".form-select-md">
                                                        <option value="">Tất cả</option>
                                                        <option value="Bắc">Bắc</option>
                                                        <option value="Đông Bắc">Đông Bắc</option>
                                                        <option value="Đông">Đông</option>
                                                        <option value="Đông Nam">Đông Nam</option>
                                                        <option value="Nam">Nam</option>
                                                        <option value="Tây Nam">Tây Nam</option>
                                                        <option value="Tây">Tây</option>
                                                        <option value="Tây Bắc">Tây Bắc</option>
                                                    </select>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label for="dienTichSearch">Diện tích</label>
                                            <div class="d-flex">

                                                <div class="form-group">
                                                    <input type="number" min=0.01 step=0.01 onkeypress="return event.charCode != 45" class="form-control" id="DienTichTu" name="DienTichTu" placeholder="Từ">
                                                </div>
                                                <div class="form-group ml-1">
                                                    <input type="number" min=0.01 step=0.01 onkeypress="return event.charCode != 45" class="form-control" id="DienTichDen" name="DienTichDen" placeholder="Đến">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2 border-left">
                                            <label for="dienTichSearch">Giá thành</label>
                                            <div class="d-flex">

                                                <div class="form-group">
                                                    <input type="number" min=0.01 step=0.01 onkeypress="return event.charCode != 45" class="form-control" id="giaBanTu" name="GiaBanTu" placeholder="Từ">
                                                </div>
                                                <div class="form-group ml-1">
                                                    <input type="number" min=0.01 step=0.01 onkeypress="return event.charCode != 45" class="form-control" id="giaBanDen" name="GiaBanDen" placeholder="Đến">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2 border-left">
                                            <label for="dienTichSearch">Chiều dài</label>
                                            <div class="d-flex">

                                                <div class="form-group">
                                                    <input type="number" min=0.01 step=0.01 onkeypress="return event.charCode != 45" class="form-control" id="chieuDaiTu" name="ChieuDaiTu" placeholder="Từ">
                                                </div>
                                                <div class="form-group ml-1">
                                                    <input type="number" min=0.01 step=0.01 onkeypress="return event.charCode != 45" class="form-control" id="chieuDaiDen" name="ChieuDaiDen" placeholder="Đến">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2 border-left">
                                            <label for="dienTichSearch">Chiều ngang</label>
                                            <div class="d-flex">

                                                <div class="form-group">
                                                    <input type="number" min=0.01 step=0.01 onkeypress="return event.charCode != 45" class="form-control" id="chieuNgangTu" name="ChieuNgangTu" placeholder="Từ">
                                                </div>
                                                <div class="form-group ml-1">
                                                    <input type="number" min=0.01 step=0.01 onkeypress="return event.charCode != 45" class="form-control" id="chieuNgangDen" name="ChieuNgangDen" placeholder="Đến">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 border-left">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="col-md-12 col-sm-12">Kết cấu  </label>
                                                        <div class="col-md-12 col-sm-12 ten">
                                                            <select class="form-control chosen-select" style="width: 100%;" id="ketCauSearch" name="KetCauSearch" aria-label=".form-select-md">
                                                                @if (ketCaus != null)
                                                                {
                                                                    <option value="all">Tất cả</option>
                                                                    foreach (var item in ketCaus)
                                                                    {
                                                                        <option value="@item.id">@item.tenKetCau</option>
                                                                    }

                                                                }
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="col-md-12 col-sm-12">Số phòng</label>
                                                        <div class="col-md-12 col-sm-12 ten">
                                                            <select class="form-control chosen-select" style="width: 100%;" id="soPhongSearch" name="SoPhongSearch" aria-label=".form-select-md">
                                                                <option value="">Tất cả</option>
                                                                <option value="1-2">1 đến 2 phòng</option>
                                                                <option value="3-4">3 đến 4 phòng</option>
                                                                <option value="5-6">5 đến 6 phòng</option>
                                                                <option value="7-9">7 đến 9 phòng</option>
                                                                <option value=">10">Trên 10 phòng</option>


                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>

                                    </div>
                                    <div class="col-md-12">
                                        <!-- /.form-group -->
                                        <div class="form-group">
                                            <button type="submit" class="btn bg-gradient-primary"><i class="fa fa-search"></i> Tìm kiếm</button>

                                        </div>
                                        <!-- /.form-group -->
                                    </div>
                                </form>
                            </div>
                        </div>


                    </div>
                </div>

            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <div class="card-title">
                            <ul class="nav nav-tabs">
                                <li class="nav-item tab-getlist">
                                    <a class="nav-link nhomBaiViet text-success font-weight-bold active" aria-current="page">Tất cả bài đăng</a>
                                </li>
                                @foreach (var item in nhomBaiViets)
                                {
                                    <li class="nav-item tab-getlist ">
                                        <a class="nav-link nhomBaiViet text-success font-weight-bold" data-id="@item.id">@item.tenNhom</a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="card-body pad">
                        <div class="row">
                            <div class="col-md-12 mt-4 table-body table-responsive">
                            </div>
                        </div>
                    </div>
                    <!-- /.card -->
                </div>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.col -->
    </div>
    <!-- Modal -->
    <div class="modal fade" id="callConfirmModel" tabindex="-1" aria-labelledby="callConfirmModel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-primary">Xác nhận đã gọi</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Nội dung ghi chú: <span id="noteContent"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <button type="button" id="saveNoteConfirm" class="btn btn-primary">Xác nhận</button>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts {

    <script>
        $(document).ready(function () {
            $("select").each(function () {
                $(this).select2()
            })
            var citis = document.getElementById("idThanhPho");
            var districts = document.getElementById("idQuanHuyen");
            var wards = document.getElementById("idPhuongXa");
           
            var Parameter = {
                url: "https://raw.githubusercontent.com/kenzouno1/DiaGioiHanhChinhVN/master/data.json",
                method: "GET",
                responseType: "application/json",
            };
            var promise = axios(Parameter);
            promise.then(function (result) {
                renderCity(result.data);
            });

            function renderCity(data) {
                for (const x of data) {
                    citis.options[citis.options.length] = new Option(x.Name, x.Id);

                }
                citis.onchange = function () {
                    districts.length = 1;
                    if (this.value != "") {
                        const result = data.filter(n => n.Name === this.value);
                        for (const k of result[0].Districts) {
                            districts.options[districts.options.length] = new Option(k.Name, k.Name);
                        }
                        if (districts.options.length > 1) {
                            districts.selectedIndex = 1;
                            districts.onchange();
                        }
                    }
                };
                districts.onchange = function () {
                    wards.length = 1;
                    const dataCity = data.filter((n) => n.Name === citis.value);
                    if (this.value != "") {
                        const dataWards = dataCity[0].Districts.filter(n => n.Name === this.value)[0].Wards;
                        for (const w of dataWards) {
                            wards.options[wards.options.length] = new Option(w.Name, w.Name);
                        }
                        if (wards.options.length > 1) {
                            wards.selectedIndex = 1;

                        }
                    }
                };
            }
        })
    </script>
    <script>


        var myModal = {
            $modal: $('#myModal'),
            $myModalContent: $("#myModalContent"),
            $myModalTitle: $("#myModalTitle")
        }

       var paramsLoadData = [
            true,
            '@Url.Action("GetList")',


      ];
            function loadList(idNhomBaiViet, page) {
            if (page == null) { page = 1 };

            try {
                var formData = $("#searchForm").serializeArray();
                var data = {
                    idNhomBaiViet: idNhomBaiViet,
                    page: page,
                    itemPerPage: 50
                };
                $.each(formData, function (index, item) {
                    data[item.name] = item.value;
                });
                 $.ajax({
                     url: '@Url.Action("GetList")',
                     timeout: 2000000,
                     data: data,
                     beforeSend: function () {
                         $(".divLoading").addClass("loading");
                     },
                     success: function (response) {
                         $(".divLoading").removeClass("loading");
                         $('.table-body').html(response);
                         $("#myTable").DataTable({
                              destroy: true,
                             "order": [[0, "desc"]],
                             "language": {
                                 "sProcessing": "Đang xử lý...",
                                 "sLengthMenu": " Hiển thị _MENU_ dữ liệu",
                                 "sZeroRecords": "Không tìm thấy kết quả",
                                 "sEmptyTable": "Không có dữ liệu",
                                 "sInfo": "Hiển thị _START_ tới _END_ của _TOTAL_ dữ liệu",
                                 "sInfoEmpty": "Hiển thị 0 tới 0 của 0 dữ liệu",
                                 "sInfoFiltered": "(được lọc từ _MAX_ dữ liệu)",
                                 "sInfoPostFix": "",
                                 "sSearch": "Tìm kiếm:",
                                 "sUrl": "",
                                 "sInfoThousands": ",",
                                 "sLoadingRecords": "Đang tải...",
                                 "oPaginate": {
                                     "sFirst": "Đầu tiên",
                                     "sLast": "Cuối cùng",
                                     "sNext": "Sau",
                                     "sPrevious": "Trước"
                                 },
                                 "oAria": {
                                     "sSortAscending": ":Sắp xếp thứ tự tăng dần",
                                     "sSortDescending": ": Sắp xếp thứ tự giảm dần"
                                 }
                             },
                             "lengthMenu": [5, 10, 25, 50, 75, 100],
                             "columnDefs": [
                                 { "type": "num", "targets": 0 } // Đảm bảo cột "Mã" được nhận diện là kiểu số
                             ],
                             "info": false,
                             "processing": false,
                             "serverSide": false,
                             "bFilter": true,
                             "bPaginate": false,
                             "bLengthChange": true,
                             "bInfo": true,
                             "responsive": true,
                             "lengthChange": true,
                             "autoWidth": false,
                             "stateSave": true,
                             "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"],
                             "initComplete": function (oSettings) {

                             }
                         })
                     },
                     error: function (message) {
                         $(".divLoading").removeClass("loading");
                     }
                 });
                } catch (error) {

                    console.error('Error:', error);
                }
        }
        function changePage(idNhomBaiViet, page, totalPage) {
            if (page <= 1) {
                page = 1;
            }
            if (page >= totalPage) {
                page = totalPage;
            }
            loadList(idNhomBaiViet, page);
        }

        $(document).ready(function () {
            $('#searchForm')[0].reset();
            loadList(null, 1)
            $("#myModal").on("hidden.bs.modal", function () {
                loadData(false);
            });
            $('#searchForm').submit(function (event) {
                event.preventDefault();

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Getlist")',
                    data: $(this).serialize(), // Lấy dữ liệu từ form
                    beforeSend: function () {
                        $(".divLoading").addClass("loading");
                    },
                    success: function (response) {
                        $(".divLoading").removeClass("loading");
                        $('.table-body').html(response);
                        $("#myTable").DataTable({

                            destroy: true,
                            "order": [[1, "desc"]],
                            "language": {
                                "sProcessing": "Đang xử lý...",
                                "sLengthMenu": " Hiển thị _MENU_ dữ liệu",
                                "sZeroRecords": "Không tìm thấy kết quả",
                                "sEmptyTable": "Không có dữ liệu",
                                "sInfo": "Hiển thị _START_ tới _END_ của _TOTAL_ dữ liệu",
                                "sInfoEmpty": "Hiển thị 0 tới 0 của 0 dữ liệu",
                                "sInfoFiltered": "(được lọc từ _MAX_ dữ liệu)",
                                "sInfoPostFix": "",
                                "sSearch": "Tìm kiếm:",
                                "sUrl": "",
                                "sInfoThousands": ",",
                                "sLoadingRecords": "Đang tải...",
                                "oPaginate": {
                                    "sFirst": "Đầu tiên",
                                    "sLast": "Cuối cùng",
                                    "sNext": "Sau",
                                    "sPrevious": "Trước"
                                },
                                "oAria": {
                                    "sSortAscending": ":Sắp xếp thứ tự tăng dần",
                                    "sSortDescending": ": Sắp xếp thứ tự giảm dần"
                                }
                            },
                            "lengthMenu": [5, 10, 25, 50, 75, 100],
                            "columnDefs": [
                                {
                                    "targets": [0,],
                                    orderable: false
                                },
                            ],
                            "info": false,
                            "processing": false,
                            "serverSide": false,
                            "bFilter": true,
                            "bPaginate": false,
                            "bLengthChange": true,
                            "bInfo": true,
                            "responsive": true,
                            "lengthChange": true,
                            "autoWidth": false,
                            "stateSave": true,
                            "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"],
                            "initComplete": function (oSettings) {

                            }
                        })
                    },
                    error: function (message) {
                        $(".divLoading").removeClass("loading");
                    }
                })
            })
            $('.nhomBaiViet').click(function (event) {
                event.preventDefault();
                $('.nhomBaiViet').removeClass('active');
                $(this).addClass('active');
                var idNhomBaiViet = $(this).data('id');
                loadList(idNhomBaiViet, 1)
            })

        })

    function ShowImages(id) {
        $.ajax({
            url: '@Url.Action("ShowImages")',
            type: 'POST',
            data: { id: id },
            success: function (response) {
                if (response.success == true) {
                    if (response.response.length === 0) {
                        notify("Bài viết này không có hình ảnh")
                        return;
                    }
                    var images = response.response;
                    console.log(images)
                    var galleryDiv = $('#image-gallery');
                    galleryDiv.empty();
                    $.each(images, function (index, image) {
                        console.log(image)
                        var imgElement = `<a href="${image.UrlPath}" data-fancybox="gallery"><img src="${image.UrlPath}" class="upload_img p-1" alt="Ảnh bài viết"/></a>`;
                        galleryDiv.append(imgElement);
                    });
                    $('[data-fancybox="gallery"]').fancybox({
                        loop: true,
                        buttons: [
                            "zoom",
                            "slideShow",
                            "thumbs",
                            "close"
                        ]
                    });
                    $('[data-fancybox="gallery"]').eq(0).trigger('click');
                } else {
                    alert('Không thể tải hình ảnh.');
                }
            },
            error: function() {
                alert('Lỗi khi gửi yêu cầu.');
            }
        });
    }
        function formatDecimal(value) {

            return parseFloat(value.toFixed(10));
        }
        function Share(idBaiViet) {
            $.ajax({
                url: '@Url.Action("Share")',
                type: 'POST',
                data: { id: idBaiViet },
                success: function (response) {
                    if (response.success) {
                        var res = response.data;
                        var giaBan = formatDecimal(res.gia)
                        var context = `- ${res.nhomBaiViet} đường ${res.viTri}, giá ${giaBan} ${res.donVi}\n`
                            + `- Vị trí: ${res.viTri} đường ${res.diaChi}\n`
                            + `- Diện tích: ${res.dienTich.chieuNgang}m x ${res.dienTich.chieuDai}m\n`
                            + `- Kết cấu: ${res.ketCau}\n`
                            + `- Giá: ${res.gia} ${res.donVi}\n`
                            + `${htmlToText(res.chuKy)}`;
                        console.log(context)
                        copyToClipboard(context);
                    } else {
                        console.error("Failed to retrieve data: " + response.message);
                    }
                },
                error: function () {
                    alert('Lỗi khi gửi yêu cầu.');
                }
            });
        }

    </script>
}